<%= if Mix.env == :prod do %>
<script async defer data-domain="changelog.com" src="https://stats.changelog.com/js/index.js"></script>
<script src="//rum-static.pingdom.net/pa-5a1c4f2830a8ef000700001d.js" async></script>
<% end %>
