<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />

    <title><%= Meta.AdminTitle.get(@conn) %></title>
    <link rel="stylesheet" href={url(~p"/css/admin.css")}>
  </head>

  <body
    data-module={Phoenix.Controller.view_module(@conn)}
    data-template={Phoenix.Controller.view_template(@conn)}
  >
    <div class={"ui fixed menu #{Phoenix.Flash.get(@flash, :result)}"}>
      <a href="/" class="icon item"><i class="eject icon"></i></a>
    <%= if Policies.AdminsOnly.index(@current_user) do %>
      <%= link(to: ~p"/admin", class: "item #{SharedHelpers.active_class(@conn, "page", "active")}") do %>
        Admin
      <% end %>
    <% end %>

    <%= if Policies.Admin.Podcast.index(@current_user) do %>
      <%= link(to: ~p"/admin/podcasts", class: "item #{SharedHelpers.active_class(@conn, ["podcast", "episode"], "active")}") do %>
        <i class="unmute icon"></i>Podcasts
      <% end %>
    <% end %>

    <%= if Policies.Admin.Post.index(@current_user) do %>
      <%= link(to: ~p"/admin/posts", class: "item #{SharedHelpers.active_class(@conn, "post", "active")}") do %>
        <i class="pencil alternate icon"></i>Posts
      <% end %>
    <% end %>

    <%= if Policies.Admin.Person.index(@current_user) do %>
      <%= link(to: ~p"/admin/people", class: "item #{SharedHelpers.active_class(@conn, "person", "active")}") do %>
        <i class="user icon"></i>People
      <% end %>
    <% end %>

    <%= if Policies.AdminsOnly.index(@current_user) do %>
      <%= link(to: ~p"/admin/memberships", class: "item #{SharedHelpers.active_class(@conn, "membership", "active")}") do %>
        <i class="user plus icon"></i>Memberships
      <% end %>
    <% end %>

    <%= if Policies.AdminsOnly.index(@current_user) do %>
      <%= link(to: ~p"/admin/feeds", class: "item #{SharedHelpers.active_class(@conn, "feed", "active")}") do %>
        <i class="feed icon"></i>Feeds
      <% end %>
    <% end %>

    <%= if Policies.AdminsOnly.index(@current_user) do %>
      <%= link(to: ~p"/admin/topics", class: "item #{SharedHelpers.active_class(@conn, "topic", "active")}") do %>
        <i class="hashtag icon"></i>Topics
      <% end %>
    <% end %>

    <%= if Policies.AdminsOnly.index(@current_user) do %>
      <%= link(to: ~p"/admin/sponsors", class: "item #{SharedHelpers.active_class(@conn, "sponsor", "active")}") do %>
        <i class="dollar icon"></i>Sponsors
      <% end %>
    <% end %>

    <div class="ui dropdown item">
      Meta
      <i class="dropdown icon"></i>
      <div class="menu">
      <%= if Policies.AdminsOnly.index(@current_user) do %>
        <%= link(to: ~p"/admin/mailers", class: "item #{SharedHelpers.active_class(@conn, "mailer", "active")}") do %>
          <i class="mail icon"></i>Mailers
        <% end %>
      <% end %>

      <%= if Policies.AdminsOnly.index(@current_user) do %>
        <%= link(to: ~p"/admin/oban", class: "item") do %>
          <i class="list icon"></i>Oban
        <% end %>
      <% end %>

      <%= if Policies.AdminsOnly.index(@current_user) do %>
        <%= link(to: ~p"/admin/events", class: "item #{SharedHelpers.active_class(@conn, "event", "active")}") do %>
          <i class="clock icon"></i>Events
        <% end %>
      <% end %>
      </div>
    </div>

      <div class="right menu">
      <%= if Policies.AdminsOnly.index(@current_user) do %>
        <div class="ui right aligned navigation search item">
          <div class="ui transparent icon input">
            <input class="prompt" type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      <% end %>

        <%= link(to: Routes.sign_out_path(@conn, :delete), class: "icon item") do %>
          <i class="sign out icon"></i>
        <% end %>
      </div>
    </div>

    <div class="ui very padded basic segment">
      <%= @inner_content %>
    </div>

    <script src={url(~p"/js/admin.js")}></script>
  </body>
</html>
