<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#59B287">
    <title><%= page_title(assigns) %></title>
    <link rel="canonical" href="<%= canonical_url(@conn) %>">
    <meta name="description" content="<%= description(assigns) %>">
    <meta name="copyright" content="Changelog Media LLC">
  <% twitter_card_type = twitter_card_type(assigns) %>
    <meta name="twitter:card" content="<%= twitter_card_type %>">
    <meta name="twitter:site" content="@Changelog">
    <meta name="twitter:title" content="<%= share_title(assigns) || page_title(assigns) %>">
    <meta name="twitter:description" content="<%= description(assigns) %>">
  <%= if twitter_card_type == "player" do %>
    <meta name="twitter:player" content="<%= twitter_player_url(assigns) %>">
    <meta name="twitter:player:width" content="300">
    <meta name="twitter:player:height" content="150">
    <meta name="twitter:player:stream" content="<%= twitter_audio_url(assigns) %>">
    <meta name="twitter:player:stream:content_type" content="audio/mpeg">
  <% else %>
    <meta name="twitter:url" content="<%= canonical_url(@conn) %>">
  <% end %>
  <%= if twitter_image = twitter_image(assigns) do %>
    <meta name="twitter:image" content="<%= twitter_image %>">
  <% end %>
    <meta property="og:url" content="<%= canonical_url(@conn) %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= share_title(assigns) || page_title(assigns) %>">
  <%= if fbimg = fb_image(assigns) do %>
    <meta property="og:image" content="<%= fbimg %>">
    <meta property="og:image:width" content="<%= fb_image_width(assigns) %>">
    <meta property="og:image:height" content="<%= fb_image_height(assigns) %>">
  <% end %>
    <meta property="og:description" content="<%= description(assigns) %>">
    <meta property="og:site_name" content="Changelog">
    <meta property="og:locale" content="en_US">
  <%= for feed <- rss_feeds(assigns) do %>
    <link href="<%= feed.url %>" rel="alternate" title="<%= feed.title %>" type="application/rss+xml">
  <% end %>
    <link href="<%= json_feed_url(@conn, :news) %>" rel="alternate" title="JSON News Feed" type="application/json">
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <link rel="manifest" href="<%= static_url(@conn, "/manifest.json") %>">
    <script defer src="<%= static_url(@conn, "/js/app.js") %>"></script>
    <%= render("_head_scripts.html", assigns) %>
   <meta property="csrf" content="<%= get_csrf_token() %>">
  </head>
  <body class="page-<%= controller_action_combo(@conn) %>">
    <!--[if lt IE 8]>
      <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%= render("_header.html", assigns) %>

    <main class="main">
      <%= render(@view_module, @view_template, assigns) %>
    </main>
    <%= render("_overlay.html", assigns) %>
    <%= render("_footer.html", assigns) %>
    <%= render("_player.html", assigns) %>
    <div id="drift-widget-container" data-turbolinks-permanent></div>
  </body>
</html>
