<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #222;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
  }

  @media (max-width: 480px) {
    img {
      max-width: 100%;
    }
  }

  a {
    color: #59b287;
  }

  mark {
    padding: 1px 3px;
    background-color: #fff2cc;
  }

  hr {
    height: 1px;
    background-color: #efefef;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  pre {
    white-space: pre-wrap;
  }
</style>
</head>
<body>
  <%= render(@view_module, @view_template, assigns) %>
</body>
</html>
