<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark only">
    <meta name="theme-color" content="#59B287">
    <meta name="copyright" content="Changelog Media LLC">
    <title><%= Meta.Title.get(@conn) %></title>
    <link rel="canonical" href={Meta.Url.get(:canonical, @conn) || current_url(@conn)}>
    <meta name="description" content={Meta.Description.get(@conn)}>
  <% twitter_card_type = Meta.Twitter.get(:card_type, @conn) %>
    <meta name="twitter:card" content={twitter_card_type}
    <meta name="twitter:site" content="@Changelog">
    <meta name="twitter:title" content={Meta.Title.get(@conn) |> escaped()}>
    <meta name="twitter:description" content={Meta.Description.get(@conn) |> escaped()}>
  <%= if twitter_card_type == "player" do %>
    <meta name="twitter:player" content={Meta.Twitter.get(:player_url, @conn)}>
    <meta name="twitter:player:width" content="300">
    <meta name="twitter:player:height" content="150">
    <meta name="twitter:player:stream" content={Meta.Twitter.get(:audio_url, @conn)}>
    <meta name="twitter:player:stream:content_type" content="audio/mpeg">
    <meta name="og:audio" content={Meta.Twitter.get(:audio_url, @conn)}>
  <% else %>
    <meta name="twitter:url" content={current_url(@conn)}>
  <% end %>
  <%= if share_image = Meta.Image.get(@conn) do %>
    <meta name="twitter:image" content={share_image}>
    <meta property="og:image" content={share_image}>
  <% end %>
    <meta property="og:url" content={current_url(@conn)}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={Meta.Title.get(@conn) |> escaped()}>
    <meta property="og:description" content={Meta.Description.get(@conn) |> escaped()}>
    <meta property="og:site_name" content="Changelog">
    <meta property="og:locale" content="en_US">
  <%= if apple_id = Meta.Apple.get(:podcasts_id, @conn) do %>
    <meta name="apple-itunes-app" content={"app-id=" <> apple_id}>
  <% end %>
  <%= for feed <- Meta.Feeds.get(:rss, @conn) do %>
    <link href={feed.url} rel="alternate" title={feed.title} type="application/rss+xml">
  <% end %>
    <link href={~p"/feed.json"} rel="alternate" title="JSON Feed" type="application/json">
    <link rel="stylesheet" href={url(~p"/css/news.css")}>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href={url(~p"/favicon.ico")}>
  <%= if mastodon_url = Meta.Mastodon.get(@conn) do %>
    <link rel="me" href={mastodon_url}>
  <% end %>
  <%= for font <- preloaded_news_fonts() |> Enum.map(&("#{&1}.woff2")) do %>
    <link rel="preload" href={url(~p"/fonts/#{font}")} as="font" type="font/woff2" crossorigin>
  <% end %>
    <script>
      function resizeFrameToFit() {
        const iframe = document.getElementById('newsletter_iframe');
        const container = document.getElementById('newsletter_iframe-container');
        const scrollHeight = iframe.contentWindow.document.body.scrollHeight;

        iframe.style.height = `${scrollHeight}px`;
        container.style.flex = `1 0 ${scrollHeight}px`;
      }

      function goToTestimonial(index) {
        // Get all slides and pagination buttons
        const testimonials = document.querySelectorAll(".testimonials-item");
        const paginationButtons = document.querySelectorAll(".testimonials-pagination li button");

        // Hide all slides and remove "is-active" class from pagination buttons
        testimonials.forEach(function(slide) {
          slide.classList.remove("is-active");
        });
        paginationButtons.forEach(function(button) {
          button.parentNode.classList.remove("is-active");
        });

        // Show the selected slide and add "is-active" class to its corresponding pagination button
        testimonials[index].classList.add("is-active");
        paginationButtons[index].parentNode.classList.add("is-active");
      }

      // Autoplay testimonials
      const testimonialInterval = setInterval(() => {
          // Make sure we aren't hovering over the parent
          if (document.querySelector(".testimonials").matches(":hover")) {
            return;
          }

          const testimonials = document.querySelectorAll(".testimonials-item");
          const activeTestimonial = document.querySelector(".testimonials-item.is-active");
          let nextIndex = Array.from(activeTestimonial.parentNode.children).indexOf(activeTestimonial) + 1;

          // check if were at the last testimonial
          if (nextIndex == testimonials.length) {
            nextIndex = 0;
          }
          goToTestimonial(nextIndex);
      }, 5000);

      function togglePlayPause() {
        const issue = event.target.parentNode;

        if (!issue.audio) {
          issue.audio = new Audio();
          issue.audio.type = "audio/mpeg";
          issue.audio.src = event.target.href;
          issue.progress = 0;

          issue.audio.addEventListener("canplaythrough", function() {
            issue.audio.play();
          });

          issue.audio.addEventListener("timeupdate", function() {
            if (isFinite(issue.audio.duration)) {

              const progress = issue.audio.currentTime / issue.audio.duration * 100;
              const rounded = Math.round(progress * 10) / 10;

              if (issue.progress < rounded) {
                issue.progress = rounded;
                issue.querySelector(".progress_bar").style = `--progress: ${rounded}%`;
              }
            }
          });
        }

        if (issue.classList.contains("is-playing")) {
          issue.audio.pause();
          issue.classList.add("is-paused");
          issue.classList.remove("is-playing");
        } else {
          issue.classList.remove("is-paused");
          issue.classList.add("is-playing");
          issue.audio.play();
        }
      }

      function toggleReasons() {
        const reasons = document.querySelector(".reasons");
        reasons.classList.toggle("is-visible");

        const isVisible = reasons.classList.contains("is-visible")

        // Ensure we are scrolled to the top
        if (isVisible) {
          reasons.scrollTo({
            top: reasons.offsetTop,
          });
        }

        // Don"t allow the body to scroll when modal is open
        document.body.classList.toggle("no-scroll", isVisible)
      }

      window.onload = function() {
        resizeFrameToFit();
        goToTestimonial(Math.floor(Math.random() * 4));
      };

      window.onresize = function() {
        resizeFrameToFit();
      };
    </script>
    <%= render("_head_scripts.html", assigns) %>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-inner">
          <div class="header-info">
            <img src={~p"/images/news/logo.svg"} alt="Changelog News Logo" width="48px">
            <h1 class="display-xl">Changelog News! The software <span class="flippy">newsletter</span> that's also a <span class="floppy">podcast</span></h1>
            <p class="sans-md color-grey"><em>The software world moves fast... Keep up the easy way! We track the changes & <%= link("Jerod", to: ~p"/person/jerodsanto") %> lets you know what's up each Monday.</em></p>

            <%= form_tag ~p"/subscribe/news", class: "subscribe_form m-t-sm", method: "get" do %>
              <label for="email" class="visually-hidden">Email Address</label>
              <input type="email" id="email" name="email" placeholder="Email address..." required>
              <button type="submit">Subscribe</button>
            <% end %>

            <ul class="subscribe_icons">
              <li class="subscribe_icons-item" style={"--image-url: url(#{url(~p"/images/icons/podcast_icon-apple.png")})"}><a href={PodcastView.subscribe_on_apple_url(@podcast)}><span>Apple</span></a></li>
              <li class="subscribe_icons-item" style={"--image-url: url(#{url(~p"/images/icons/podcast_icon-overcast.png")})"}><a href={PodcastView.subscribe_on_overcast_url(@podcast)}><span>Overcast</span></a></li>
              <li class="subscribe_icons-item" style={"--image-url: url(#{url(~p"/images/icons/podcast_icon-spotify.png")})"}><a href={PodcastView.subscribe_on_spotify_url(@podcast)}><span>Spotify</span></a></li>
              <li class="subscribe_icons-item" style={"--image-url: url(#{url(~p"/images/icons/podcast_icon-android.png")})"}><a href={PodcastView.subscribe_on_android_url(@podcast)}><span>Android</span></a></li>
            </ul>

            <div class="reasons">
              <button class="reasons-close" title="Close" onclick="toggleReasons();"></button>
              <h2 class="display-xl m-b-lg m-r-lg">34 reasons you should subscribe to&nbsp;Changelog News</h2>
              <ol class="reasons-list">
                <li>Every word we publish is 100% human-crafted.</li>
                <li>We do NOT redirect or track your link clicks.</li>
                <li>You can hover link to preview where you're headed.</li>
                <li>It only costs as much as a free cup of coffee.</li>
                <li>You might actually start looking forward to Mondays.</li>
                <li>You'll be one of 21k+ intelligent, highly attractive subscribers.</li>
                <li>We aren't above flattery. More where this came from!</li>
                <li>We've been in the software game for over 20 years.</li>
                <li>We try to keep puns & bad jokes to a minimum.</li>
                <li>But every once in awhile, one slips through...</li>
                <li>A dev has a problem, decides to use Java, now has a ProblemFactory.</li>
                <li>Don't deny it, that joke was better than you expected.</li>
                <li>We feature the best community <%= link("submissions", to: ~p"/news/submit") %>.</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ol>

              <button class="button m-t-lg" onclick="toggleReasons();">Alright, you convinced me!</button>
            </div>
          </div>

          <div class="testimonials">
            <blockquote class="testimonials-item">
              <div class="testimonials-item-image">
                <img src={url(~p"/images/news/mary.jpg")} width="64px" height="64px" />
              </div>
              <div>
                <p>The only news I look forward to every week. Some weeks, I play it twice. Quick, witty, informative & positive. Rock on, Jerod!</p>
                <cite class="mono-sm">Mary H.</cite>
              </div>
            </blockquote>
            <blockquote class="testimonials-item">
              <div class="testimonials-item-image">
                <img src={url(~p"/images/news/justin.jpg")} width="64px" height="64px" />
              </div>
              <div>
                <p>I gotta say the Changelog Newsletter is the best programming journalism I've seen in years.</p>
                <cite class="mono-sm"><a href="https://justin.searls.co/" title="Justin Searls' website">Justin Searls</a></cite>
              </div>
            </blockquote>
            <blockquote class="testimonials-item">
              <div class="testimonials-item-image">
                <img src={url(~p"/images/news/chris.jpg")} width="64px" height="64px" />
              </div>
              <div>
                <p>I get lots of information. Changelog News is the one I don't skip, in both podcast and newsletter form.</p>
                <cite class="mono-sm">Chris Woods</cite>
              </div>
            </blockquote>
            <blockquote class="testimonials-item">
              <div class="testimonials-item-image">
                <img src={url(~p"/images/news/maros.jpg")} width="64px" height="64px" />
              </div>
              <div>
                <p>Informative, concise, funny. Pick any three 😎</p>
                <cite class="mono-sm">Maroš Kučera</cite>
              </div>
            </blockquote>
            <blockquote class="testimonials-item">
              <div class="testimonials-item-image">
                <img src={url(~p"/images/news/fraol.jpg")} width="64px" height="64px" />
              </div>
              <div>
                <p>The newsletter so good I consider it a competitive advantage.</p>
                <cite class="mono-sm"><a href="https://github.com/frectonz" title="Fraol Lemecha on GitHub">Fraol Lemecha</a></cite>
              </div>
            </blockquote>
            <ul class="testimonials-pagination">
              <li class="is-active"><button title="Go to 1" onclick="goToTestimonial(0);"></button></li>
              <li><button title="Go to 2" onclick="goToTestimonial(1);"></button></li>
              <li><button title="Go to 3" onclick="goToTestimonial(2);"></button></li>
              <li><button title="Go to 4" onclick="goToTestimonial(3);"></button></li>
              <li><button title="Go to 5" onclick="goToTestimonial(4);"></button></li>
            </ul>
          </div>

          <div class="header-ctas">
            <button class="text_button m-b-sm" onclick="toggleReasons();">34 more reasons to subscribe</button>
            <p class="mono-sm color-grey">Browse all of our podcasts at <a href="/">changelog.com</a></p>
          </div>
        </div>
      </header>
      <main class="main issue_list">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
