// Accesible but hidden elements - https://snook.ca/archives/html_and_css/hiding-content-for-accessibility via http://a11yproject.com/posts/how-to-hide-content/
.visually_hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);

  a:focus,
  input:focus,
  button:focus {
    height:auto;
    position: static;
    width:auto;
  }
}
