// Colors
$black: #121921;
$half-black: rgba($black, 0.5);
$white: #ffffff;
$half-white: rgba($white, 0.5);
$light-green: #D4EFE2;
$green: #59B287;
$light-yellow: #fffedb;
$yellow: #C4A731;
$light-blue: #9095C5;
$blue: #2D3589;
$lightest-grey: #f5f5f5;
$light-grey: #e6e5e6;
$medium-grey: #878b8f;
$red: #ef5125;
$light-red: lighten($red, 20%);
$blue-grey: #222C36;

// Podcasts - Sometimes we wanna loop through 'em
$podcasts: backstage, founderstalk, gotime, master, podcast, rfc, spotlight, jsparty;

// Podcast Colors
$changelog: #9E978E;
$changelog-transparent: rgba(darken($changelog, 45%), 0.6);

$gotime: #59CBE8;
$gotime-transparent: rgba(darken($gotime, 50%), 0.3);

$rfc: #E10098;
$rfc-transparent: rgba(darken($rfc, 30%), 0.3);

$founderstalk: #3CDBC0;
$founderstalk-transparent: rgba(darken($founderstalk, 40%), 0.3);

$backstage: #FC4C02;
$backstage-transparent: rgba(darken($backstage, 30%), 0.6);

$spotlight: #F9A05D;
$spotlight-transparent: rgba(darken($spotlight, 30%), 0.4);

$jsparty: #FFCD00;
$jsparty-transparent: rgba(darken($jsparty, 40%), 0.4);

// Borders
$border-color: #F2F3F3;
$base-border-radius: 3px;

// Typography
$body-copy-color: $black;
$root-font-size: 16px;
$content-fallback: Arial, sans-serif;
$content: 'Sana Sans', $content-fallback;
$display-fallback: 'Arial Narrow', sans-serif;
$display: 'DIN 2014 Narrow', $display-fallback;
$code: Menlo, Monaco, Consolas, Courier, monospace;

// Links
$base-link-color: $green;
$base-hover-color: darken($green, 10%);

// Spacing
$base-spacing: 30px;
$mobile-spacing: 20px;

// Transitions
$base-easing: ease-in-out;

// Layout -- Deprecated
$smartphone: 452px;
$tablet: 768px;
$desktop: 1080px;

$padding-extra-small: 12px / $root-font-size * 1rem;
$padding-small: 16px / $root-font-size * 1rem;
$padding-medium: 20px / $root-font-size * 1rem;
$padding-large: 26px / $root-font-size * 1rem;
$padding-extra-large: 54px / $root-font-size * 1rem;

// Elements – Update if changes are made to these components
$header-height: 63px;
$header-height--mobile: 50px;
$footer-height: 84px;
