@import 'account';
@import 'article';
@import 'episode';
@import 'live';
@import 'live-upcoming';
@import 'marketing';
@import 'podcasts';
@import 'post';
@import 'profile';
@import 'search';
@import 'show';
@import 'topic';
@import 'topics';

// Sticky Footer
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 0 calc(100vh - 182px);

  .page-podcast-index &,
  .page-person-new & {
    background-color: $black;
  }
}

// Full width wrap
.wrapper {
  width: 100%;

  &--gray {
    background-color: rgba($black, 0.1);
  }

  &--half-gray {
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      height: 50%;
      width: 100%;
      left: 0;
      right: 0;
      content: '';
      z-index: -1;
      background-color: rgba($black, 0.1);
    }
  }
}
