// Variables
$gutter: 2rem;
$height: 220px;
$aspect_ratio: 50%; // Used for scaled version

// Dark (Default) and Day themes
body.embed {
  &, .episode_player { background: #1e242c; }
  .episode_player { border: 1px solid darken(#1e242c, 5%); }
  &--day {
    &, .episode_player { background: #fafafa; }
    .episode_player { border: 1px solid #f0f0f0; }
  }
}

// Embedded Player
.episode_player {
  height: $height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .embed--twitter & {
    height: 0;
    padding-bottom: $aspect_ratio;
  }

  &-site_link {
    background: url("../images/brand/changelog-mark-only.svg") center no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    position: absolute;
    right: calc($gutter / 2);
    text-indent: -9999px;
    top: 1rem;
    width: 30px;
    z-index: 4;

    body.embed--day & {
      background: url("../images/brand/changelog-mark-dark.svg") center no-repeat;
      background-size: contain;
    }

    @media (min-width: $smartphone) {
      right: $gutter;
      height: 40px;
      width: 40px;
    }
  }

  &-toggle_nav {
    background: url("../images/icons/embed-more.svg") center no-repeat;
    background-size: 20px;
    display: block;
    height: 30px;
    width: 20px;
    padding: 0;
    position: relative;
    z-index: 99;

    .episode_player.nav-open & {
      background: url("../images/icons/icon-close.svg") center no-repeat;
      background-size: 15px;
    }
  }

  &-nav {
    @include animate-zoom-out(".episode_player.nav-open &");
    @include position(absolute, 0);
    align-items: center;
    background: rgba($black, 0.99);
    display: flex;
    padding: 0;
    z-index: 10;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      vertical-align: middle;

      img { border: 1px solid $black; }

      &-item {
        @extend %display-font;
        align-items: center;
        border-right: 1px solid $black;
        display: flex;
        font-size: 0.8em;
        flex: 1 0 33.333%;
        justify-content: space-around;
        line-height: 1.25em;
        min-width: 70px;
        padding: 0 0.75rem;
        text-align: center;

        // For desktop, let items be whatever width they want
        @media (min-width: 404px) { flex: 1 0 auto; }
        // Since the "listen on" drops down, let's not show a border on subscribe
        &:nth-child(4) {
          @media (max-width: 403px) { border-right: 0; }
        }

        a {
          transition: opacity 0.2s ease-in-out;
          background: top center no-repeat;
          color: $white;
          display: block;
          padding-top: 30px;

          &:hover { opacity: 0.8; }
        }

        &--show {
          display: none;
          padding: 0;

          @media (min-width: 540px) { display: block; }

          a { padding-top: 0; }
        }

        &--listen-on {
          padding-top: 1rem;

          @media (min-width: 404px) { padding-top: 0; }
          @media (max-width: 404px) { flex: none; }

          a {
            background: left center no-repeat;
            background-size: 46px;
            max-width: 145px;
            min-height: 45px;
            padding: 1em 0 1em 55px;
            text-align: left;
          }
        }

        &:first-child,
        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &-slider {
    padding: 0 calc($gutter / 2);

    @media (min-width: $smartphone) {
      padding: 0 $gutter;
    }

    .range-slider_below {
      & > output {
        margin-left: 0;
      }

      & > a {
        color: $green;
        font-family: $code;
        font-size: 0.75em;
        text-transform: uppercase;
      }

      @media (max-width: 400px) {
        font-size: 0.875em;
      }
    }

    .embed--twitter & {
      @include position(absolute, null 0 14px);
    }
  }

  &-details {
    $button_size: 4rem;
    $button_spacing: $button_size + $gutter * 2;
    display: table;
    font-size: 8px;
    height: 130px;
    margin-top: 1.5rem;
    padding: 0 50px 0 2rem + $gutter * 2;
    position: relative;

    @media (min-width: 360px) {
      font-size: 10px;
    }

    @media (min-width: $smartphone) {
      font-size: 12px;
      padding: 0 60px 0 $button_spacing;
    }
    @media (min-width: $tablet - 150px) {
      font-size: 14px;
    }

    &_container {
      .embed--twitter & {
        @include position(absolute, 0 0 60px);
        align-items: center;
        display: flex;
      }
    }

    &-button {
      @include large-play-button(".episode_player", $gutter, $button_size, $button_spacing);
      display: block;
      left: calc($gutter / 2);
      margin-right: 2rem;
      margin-top: -$gutter;
      padding: 0;
      position: absolute;
      text-indent: -9999px;
      top: 50%;

      @media (min-width: $smartphone) {
        left: $gutter;
      }
    }

    &-vwrap {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 3;
    }

    &-podcast {
      @extend %display-font;
      color: $green;
      font-size: 1.25em;
      margin: 0 0 0.5em;
    }

    &-title {
      font-size: 1.8em;
      margin: 0;

      a {
        color: $white;

        body.embed--day & { color: $black; }
      }
    }

    &-subtitle {
      color: $half-white;
      font-size: 1.375em;
      font-style: italic;
      font-weight: normal;
      margin: 0.5em 0 0;

      body.embed--day & { color: $half-black; }
    }
  }
}
