.live_upcoming {
  $border: 1px solid $green;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 80px $padding-medium;
  width: 100%;

  &,
  p,
  a {
    color: $white;
  }

  &-heading {
    display: block;
    flex: none;
    font-size: 1.625em;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 0 $padding-small $padding-large;
    text-align: center;
    width: 100%;
  }

  &-grid {
    border: $border;
    box-shadow: 0 0 5px rgba($green, 0.5), inset 0 0 5px rgba($green, 0.5);
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;

    &-item {
      align-items: stretch;
      border-bottom: $border;
      display: flex;
      flex-wrap: wrap;
      height: 100%;

      &:last-child {
        border-bottom: 0;
      }

      &-image,
      &-time,
      &-info {
        @extend %display-font;
        box-shadow: inset 0 0 5px rgba($green, 0.5);
        display: flex;
        align-items: center;
        padding: $padding-extra-small $padding-large;

        & > div {
          width: 100%;
        }

        p {
          font-size: 21px;
          line-height: 1em;
          margin: 0.5em 0;

          a {
            color: $green;
          }

          strong {
            color: $green;
            font-size: 18px;
            font-weight: normal;
          }
        }
      }

      &-image {
        border-right: $border;
        flex: 0 0 120px;
        padding: 0;
        text-align: center;

        img {
          z-index: -1;
        }
      }

      &-time {
        border-right: $border;
        flex: 1 1 150px;
        text-align: center;
        padding: $padding-extra-small;
      }

      &-info {
        border-top: $border;
        box-shadow: inset 0 0 5px rgba($green, 0.5);
        flex: 1 1 550px;

        @media (min-width: 868px) {
          border-top: 0;
          box-shadow: 0;
        }
      }
    }
  }
}
