.marketing {
  font-size: 16px;
  overflow-x: hidden;

  &-section {
    padding: $padding-large 0;

    @media (min-width: $tablet) {
      padding: $padding-extra-large 0;
    }

    &--map,
    &--intro {
      background: #121921;
      color: $white;

      .marketing--sponsor & {
        background: #252B32;
      }

      p {
        color: $half-white;
      }
    }

    &--intro {
      .marketing--community & {
        background: $black url('/images/community/grid.jpg') top center;
        background-size: 1300px;
      }
    }

    &-header {
      margin: $padding-large auto;
      max-width: 880px;
      padding: 0 $padding-large;
      text-align: center;

      @media (min-width: $tablet) {
        margin-bottom: $padding-extra-large;
      }

      i {
        img { margin: 0 auto; }
      }

      h1f {
        font-size: 1.75em;
        line-height: 1.25em;

        @media (min-width: $tablet) {
          font-size: 2.25em;
        }

        .marketing-section--map & {
          color: $half-white;
          font-size: 1.25em;
          line-height: 1.5em;

          @media (min-width: $tablet) {
            font-size: 1.5em;
          }
        }
      }

      h2,
      h3 {
        font-weight: 500;
      }

      p {
        font-size: 1em;

        @media (min-width: $tablet) {
          font-size: 1.25em;
        }
      }

      &-button {
        margin-bottom: 0.5em;
      }
      p.button_note {
        font-size: 16px;
      }
    }

    // Community Features
    &-features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: $padding-large auto;
      max-width: 1080px;
      text-align: center;
      padding: 0 $padding-large;
      text-align: center;

      &-item {
        flex: 0 0 50%;
        padding: 0.5rem;

        @media (min-width: $tablet) {
          flex: 0 0 20%;
        }

        img {
          transition: all 0.2s ease-in-out;
          display: block;
          margin: 0 auto 1em;
        }

        span {
          color: $white;
          font-size: 12px;
          display: block;
          line-height: 1.25em;

          @media (min-width: $tablet) {
            font-size: 14px;
          }
        }

        a {
          display: block;

          &:hover img {
            transform: translateY(-5px);
          }
        }
      }
    }

    // Questions (Three Columns, Used on the Sponsor Page)
    &-questions {
      $breakpoint: 900px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 1080px;

      @media (min-width: $breakpoint) {
        display: flex;
        padding: 0 $padding-large;
      }

      &-item {
        flex: 1 0 240px;
        padding: $padding-small;
        text-align: center;

        *:last-child {
          margin-bottom: 0;
        }
      }
    }

    // Content (Two Columns)
    &-content {
      $breakpoint: 900px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 1680px;

      @media (min-width: $breakpoint) {
        display: flex;
      }

      &-image {
        display: none;
        padding: $padding-large;

        @media (min-width: $smartphone) {
          display: block;
        }
        @media (min-width: $breakpoint) {
          flex: 1 1 400px;
          height: 630px;
          order: 2;
          padding: 0;
          position: relative;
        }

        img {
          border: 1px solid $light-grey;
          // box-shadow: 0 30px 40px 20px rgba($black, 0.2);
          box-shadow: -20px 20px 50px 0 rgba($black, 0.2), -60px 60px 30px 0 rgba($black, 0.03);
          width: 100%;

          @media (min-width: $breakpoint) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            margin: 0;
            width: auto;
          }
        }
      }

      &-info {
        justify-content: space-between;
        display: flex;
        flex: 0 1 500px;
        flex-direction: column;
        padding: 0 $padding-large;
        text-align: center;

        @media (min-width: $tablet) {
          padding: 0 $padding-extra-large;
          text-align: left;
        }

        &-bottom {
          align-self: flex-end;
        }

        h3 {
          font-size: 1.625em;
          font-weight: normal;
        }
      }
    }

    // Sponsor Logos
    &-logos {
      align-items: center;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 $padding-large;
      max-width: 960px;

      &-item {
        flex: 0 1 50%;
        max-width: 200px;

        @media (min-width: $tablet) {
          flex: 0 25%;
        }
      }

      img {
        filter: grayscale(100%);
        transition: filter 0.2s ease-in-out;
        width: 100%;

        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  // Community specific bloquote styles
  &-quote {
    font-size: 1.125em;
    margin: 0;
    padding: 0;

    &-body {
      font-style: italic;
    }

    &:before {
      color: $half-black;
      content: '“';
      display: block;
      font-size: 4em;
      height: 20px;
      margin-bottom: $padding-large;
      text-align: center;
    }

    footer {
      font-size: 14px;
      margin-top: $padding-large;
      text-align: center;

      img {
        border: 1px solid $light-grey;
        box-shadow: -5px 5px 40px 5px rgba($black, 0.2);
        border-radius: 2px;
        // box-shadow: 0 0 40px 0 rgba($black, 0.2);
        display: block;
        margin: 0 auto 1em;
      }

      strong {
        display: inline-block;
        padding-bottom: 2px;
      }

      span {
        clear: left;
        font-style: italic;

        &:before {
          content: "\A";
          white-space: pre;
        }

      }

      a {
        color: black;
        display: block;
      }
    }
  }

  // Map
  &-map {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      width: 97%;
    }

    @media (min-width: $tablet) {
      padding: 0 $padding-large;

      img {
        margin: 0;
        width: 100%;
      }
    }
  }
}
