.post {
  //
  //
  // Header
  &-header {
    @include masthead();
    position: relative;

    &-all_posts_button {
      @include masthead-back();
    }

    &-date {
      color: $medium-grey;
      font-family: $code;
      font-size: 12px;
    }

    &-author {
      align-items: center;
      color: $medium-grey;
      display: flex;
      justify-content: center;

      & > * {
        margin: 0 5px;
        text-align: left;
      }

      a {
        font-weight: bold;
      }

      img {
        background: #000;
        border-radius: $base-border-radius;
        display: inline-block;
        font-size: 8px;
      }

      span {
        margin-left: 0.5em;
      }
    }
  }

  //
  //
  // Body
  &-body {
    margin: 0 auto;
    max-width: 940px;
    padding-bottom: $base-spacing;

    // Summary
    &-summary {
      border-bottom: 2px solid $light-grey;
      margin-bottom: $base-spacing*2;
      padding: $base-spacing;
      text-align: center;

      @include breakpoint(mobile) {
        padding: $base-spacing $base-spacing*2 $base-spacing*2;
      }

      &-description {
        text-align: left;

        @include breakpoint(mobile) {
          font-size: 1.25em;
        }
      }

      &-sponsors {
        margin: 0 0 $base-spacing;

        h3 {
          font-size: 0.825em;
          font-weight: normal;
          letter-spacing: 0.0625em;
          margin: 0 0 2em;
          text-transform: uppercase;
        }

        &-list {
          display: flex;
          justify-content: center;
          width: 100%;

          img {
            height: auto;
            padding: 0 1em;
          }
        }
      }

      &-meta {
        font-family: $code;
        font-size: 0.75em;
        margin-top: $base-spacing;

        &,
        a {
          color: $medium-grey;
        }
        a:hover { color: $dark-grey; }
      }

      &-tags {
        margin-top: $base-spacing;
        text-align: center;
      }
    }

    // Content
    &-content {
      padding: $base-spacing;
    }
  }

  // Footer
  &-footer {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 $base-spacing $base-spacing;

    &-author {
      align-items: center;
      border-top: 1px solid $light-grey;
      display: flex;
      margin: 20px 0 $base-spacing;
      padding-top: $base-spacing;

      &-image {
        border-radius: $base-border-radius;
        margin-right: $base-spacing/2;
      }

      &-bio {
        p {
          line-height: 1.25em;
          margin: 0;
        }
        &-name { font-weight: bold; }
        &-title {
          font-size: 0.875em;
          font-style: italic;
        }
      }
    }
  }
}
