.show {
  &--soon {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .show-header {
      flex: 1 0 auto;
      margin-bottom: 0;
    }
  }

  // Header
  &-header {
    @include masthead();

    @include breakpoint(tablet) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include breakpoint(desktop) {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: left;
    }

    &--minimal {
      padding-top: 50px !important;
      padding-bottom: 50px !important;
    }

    &-inner {
      margin: 0 auto;
      max-width: 1217px;

      @include breakpoint(desktop) {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
      }
    }

    // Artwork
    &-art {
      position: relative;

      img {
        width: 40%;
        min-width: 200px;
        height: auto;
        margin: 0 auto $base-spacing;

        @include breakpoint(tablet) {
          display: flex;
          justify-content: flex-end;
        }
      }

      .show-header--minimal & img {
        width: 80px;
        min-width: auto;

        @include breakpoint(desktop) {
          width: 220px;
        }
      }

      @include breakpoint(desktop) {
        flex: 0 1 490px;
        height: 100%;
        margin: 0 0 0 45px;

        .show-header--minimal & {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }
      @include breakpoint(1000px) {
        margin-left: 60px;
      }

      @include breakpoint(1100px) {
        margin-left: 75px;
      }

      &-status {
        @include status_label();
      }
    }

    &-content {
      @include breakpoint(desktop, max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
      }

      @include breakpoint(desktop) {
        flex: 1 1 700px;

        .show-header--minimal & {
          flex-shrink: 0;
        }
      }
    }

    &-play_trailer {
      margin-bottom: 25px;
    }

    // Description
    &-description {
      margin-bottom: $base-spacing;
      color: $medium-grey-alt;

      > *:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(desktop, max) {
        text-align: center;
      }

      .show-header--minimal & {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 0.25em;
        font-size: 1.625em;
        line-height: 1.3;
        color: $white;

        @include breakpoint(tiny) {
          font-size: 1.9375em;
        }
        @include breakpoint(mobile) {
          font-size: 2.125em;
        }
        @include breakpoint(desktop) {
          font-size: 2.25em;
        }
      }

      .show-header--minimal & h3 {
        font-size: 1.375em;

        @include breakpoint(tiny) {
          font-size: 1.5em;
        }
        @include breakpoint(mobile) {
          font-size: 1.75em;
        }
        @include breakpoint(desktop) {
          font-size: 2.25em;
        }
      }

      p {
        margin-bottom: 0.75em;
        font-size: 1em;
        color: $medium-grey-alt;
      }
    }

    &-buttons {
      margin: 0 -8px;

      &-item {
        margin: 0 8px;
      }
    }

    &-hosts {
      justify-content: center;

      @include breakpoint(desktop) {
        justify-content: flex-start;
      }
    }

    &-break {
      width: 100%;
      margin: $base-spacing 0;
      border: none;
      border-bottom: 1px solid $blue-grey;
    }

    &-signup_text {
      margin-bottom: 1.2em;
      font-size: 1.125em;
      color: $white;

      @include breakpoint(desktop, max) {
        text-align: center;
      }
      @include breakpoint(mobile, max) {
        display: none;
      }
    }

    .signup-form {
      @include breakpoint(mobile, max) {
        display: none;
      }
    }

    // "user_action" – Subscribe/Unsubscribe buttons (Logged in only)
    // ".signup-form" (Coming Soon only)
    &-user_action,
    .signup-form {
      margin: 0 0 $base-spacing;
    }

    // Subscribe
    &-subscribe {
      &-buttons {
        margin-left: -8px;
        margin-right: -8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
          height: 30px;
          margin: 0 8px 12px;
          padding: 4px 0 0 30px;
          background-size: 30px 30px;
          background-repeat: no-repeat;
          font-size: 0;
          color: $white;
          transition: color 0.1s $base-easing;

          @include breakpoint(tablet, max) {
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
            font-size: 0;
          }

          &:hover {
            color: $medium-grey-alt;
          }

          &:last-child {
            margin-right: 0;
          }

          &--apple {
            background-image: url("../images/icons/podcast_icon-apple.png");
          }
          &--apple-music {
            background-image: url("../images/icons/podcast_icon-apple-music.png");
          }
          &--amazon-music {
            background-image: url("../images/icons/podcast_icon-amazon-music.png");
          }
          &--youtube-music {
            background-image: url("../images/icons/podcast_icon-youtube-music.png");
          }
          &--youtube {
            background-image: url("../images/icons/podcast_icon-youtube.png");
          }
          &--bandcamp {
            background-image: url("../images/icons/podcast_icon-bandcamp.png");
          }
          &--overcast {
            background-image: url("../images/icons/podcast_icon-overcast.png");
          }
          &--pocket-casts {
            background-image: url("../images/icons/podcast_icon-pocket-casts.png");
          }
          &--spotify {
            background-image: url("../images/icons/podcast_icon-spotify.png");
          }
          &--android {
            background-image: url("../images/icons/podcast_icon-android.png");
          }
          &--rss {
            background-image: url("../images/icons/podcast_icon-rss.png");
          }
          &--email {
            background-image: url("../images/icons/podcast_icon-email.png");
          }
          &--mastodon {
            background-image: url("../images/icons/podcast_icon-mastodon.png");
          }
          &--bsky {
            background-image: url("../images/icons/podcast_icon-bsky.png");
          }
          &--x {
            background-image: url("../images/icons/podcast_icon-x.png");
          }
        }
      }
    }
  }
}
