<article class="section">
  <div class="container container--has-padding container--skinny">
    <header>
      <h2 class="h2"><%= @post.title %></h2>
    </header>

    <%= raw(md_to_html(@post.body)) %>
  </div>
</article>
