<div class="ui basic segment">
  <h1 class="ui dividing header">
    <%= link "Memberships", to: ~p"/admin/memberships" %>
    &raquo; Edit
  </h1>
</div>

<div class="ui basic segment text container">
  <%= render("_form.html", Map.merge(assigns, %{action: ~p"/admin/memberships/#{@membership}"})) %>
</div>
