<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "News", to: Routes.admin_news_item_path(@conn, :index) %>
    &raquo;
    <%= link "Sources", to: Routes.admin_news_source_path(@conn, :index) %>
    &raquo; New
  </h1>

  <%= render("_form.html", conn: @conn, changeset: @changeset, action: Routes.admin_news_source_path(@conn, :create)) %>
</div>
