Hello!
You requested a fancy, passwordless sign in link. Here you go: <%= AuthView.auth_url(Endpoint, @person) %>

This link will expire in 15 minutes.
Already Expired? Request a new link: <%= sign_in_url(Endpoint, :new) %>
