Hello!
Changelog uses passwordless login. Each time you log in we’ll send you a temporarily link to your email. That’s one less email to worry about (yay!). Here’s your first one: <%= Changelog.AuthView.auth_url(Changelog.Endpoint, @person) %>

This link will expire in 15 minutes.
Already Expired? Request a new link: http://changelog.com/in
