Hello!
We don't use passwords. Each time you sign in we’ll send you a temporarily link to your email. That’s one less password to worry about (yay!). Here’s your first one: <%= AuthView.auth_url(Endpoint, @person) %>

This link will expire in 15 minutes.
Already Expired? Request a new link: <%= sign_in_url(Endpoint, :new) %>
