<div class="ui basic segment">
  <h1 class="ui dividing header">
    <%= link("People", to: Routes.admin_person_path(@conn, :index)) %>
    &raquo;
    <%= link(@person.name, to: Routes.admin_person_path(@conn, :show, @person.id)) %>
    &raquo;
    Comments (<%= @page.total_entries %>)
  </h1>
</div>

<div class="ui basic segment">
  <%= render(NewsItemCommentView, "_table.html", Map.merge(assigns, %{comments: @comments})) %>
  <%= render(SharedView, "_pagination.html", assigns) %>
</div>
