<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "People", to: Routes.admin_person_path(@conn, :index) %>
    &raquo; Edit

    <%= link "(View)",
      to: Routes.admin_person_path(@conn, :show, @person),
      class: "view" %>
  </h1>

  <%= render("_form.html", Map.merge(assigns, %{action: Routes.admin_person_path(@conn, :update, @person)})) %>
</div>
