.circleci
.dagger
.git
.github
2021
2022
_build/dev
_build/test
assets/node_modules
cue.mod
dev_docker
docker
import
nginx
priv/db
priv/uploads
script
tmp
.all-contributorsrc
.autocomplete*
.credo.exs
.dockerignore
.formatter.exs
.envrc
.env
.gitattributes
.gitignore
README.md
coveralls.json
start_dev_stack.sh
.kube
erl_crash.dump
