.circleci
.git
_build/dev
_build/test
assets/node_modules
docker
import
nginx
priv/uploads
script
terraform
test
.all-contributorsrc
.credo.exs
.dockerignore
.envrc
.gitattributes
.gitignore
README.md
coveralls.json
docker-compose.yml
erl_crash.dump
