.dagger
.git
.github
2021.dagger
2022.fly
_build/dev
_build/test
assets/node_modules
cue.mod
docker
import
nginx
priv/db
priv/uploads
script
tmp
.credo.exs
.dockerignore
.formatter.exs
.envrc
.env
.gitattributes
.gitignore
coveralls.json
erl_crash.dump
