PATH_add script

source_env ../

# export ALGOLIA_APPLICATION_ID="$(lpass show --notes 5418916921816895235)"
# export ALGOLIA_API_KEY="$(lpass show --notes 1668162557359149736)"
# export SLACK_APP_API_TOKEN="$(lpass show --notes 1152178239154303913)"
# export SLACK_INVITE_API_TOKEN="$(lpass show --notes 3107315517561229870)"
# export GITHUB_CLIENT_ID="$(lpass show --notes 6311620502443842879)"
# export GITHUB_CLIENT_SECRET="$(lpass show --notes 6962532309857955032)"
# export GITHUB_API_TOKEN="$(lpass show --notes 5059892376198418454)"
# export CM_API_TOKEN="$(lpass show --notes 2172742429466797248)"
# export CM_SMTP_TOKEN="$(lpass show --notes 4518157498237793892)"
# export AWS_ACCESS_KEY_ID="$(lpass show --field=AWS_ACCESS_KEY_ID 3110853933093316817)"
# export AWS_SECRET_ACCESS_KEY="$(lpass show --field=AWS_SECRET_ACCESS_KEY 3110853933093316817)"
# export TWITTER_CONSUMER_KEY="$(lpass show --notes 1932439368993537002)"
# export TWITTER_CONSUMER_SECRET="$(lpass show --notes 5671723614506961548)"
# export CODECOV_TOKEN="$(lpass show --notes 2203313003035524967)"
# export BUFFER_TOKEN="$(lpass show --notes 4791620911166920938)"
