# Required for image publishing to work locally
export GITHUB_REPOSITORY="thechangelog/changelog.com"
export GITHUB_REF_NAME="master"
export IMAGE_OWNER=thechangelog
export GHCR_USERNAME=$USER

# Required for Postgres imports to work locally
export PATH=$(brew --prefix)/opt/postgresql@16/bin:$PATH
export PGDATA=$(brew --prefix)/var/postgresql@16

# Load secrets if configured - only available to changelog.com team members:
# https://github.com/orgs/thechangelog/people
source_env_if_exists .envrc.secrets
