# Required for op to know which account to use
export OP_ACCOUNT=changelog.1password.com

# Required for image publishing to work locally
export GITHUB_REPOSITORY=thechangelog/changelog.com
export GITHUB_REF_NAME=master
export IMAGE_OWNER=thechangelog
export GHCR_USERNAME=$USER

# Required for Postgres imports to work locally
export PKG_CONFIG_PATH=$PKG_CONFIG_PATH
export PGUSER=postgres
export DB_USER=$PGUSER
export CHANGELOG_DEV_DB=changelog_dev

# Load secrets if configured - only available to changelog.com team members:
# https://github.com/orgs/thechangelog/people
source_env_if_exists .envrc.secrets
