<article class="news_item">
  <%= render("_item_header.html", assigns) %>
<%= if @item.story do %>
  <div class="news_item-description">
    <p><%= @item.story |> md_to_text %></p>
    <%= link "continue reading...", to: news_item_path(@conn, :show, slug(@item)), class: "news_item-description-continue" %>
  </div>
<% end %>
  <%= render("_item_toolbar.html", assigns) %>
</article>
