<div class="news_item-toolbar">
  <div class="news_item-toolbar-item news_item-toolbar-meta">
    <span class="news_item-toolbar-meta-item">
      logged by @<%= @item.logger.handle %> <%= TimeView.pretty_date(@item.published_at) %>
    </span>
    <%= if Enum.any?(@item.topics) do %>
      &bull;
      <span class="news_item-toolbar-meta-item">
        <%= topic_link_list(@conn, @item) |> raw %>
      </span>
    <% end %>
  </div>
</div>
