<article class="news_item">
  <%= render("_item_summary_header.html", conn: @conn, item: @item) %>
<%= if @item.story do %>
  <div class="news_item-description"><p><%= @item.story |> md_to_text %></p></div>
<% end %>
  <%= render("_item_summary_toolbar.html", conn: @conn, item: @item) %>
</article>
