<%= link to: @item.url, title: domain_name(@item.url), class: "news_item-source-image" do %>
  <img src="/images/defaults/type-<%= @item.type %>.png" alt="<%= @item.type %> Icon" />
<% end %>

<%= link domain_name(@item.url), to: @item.url, title: domain_name(@item.url), rel: "external" %>
