<%= link to: episode_path(@conn, :show, @episode.podcast.slug, @episode.slug), title: @episode.title, class: "news_item-source-image news_item-source-image--#{ length(@episode.guests) }" do %>
  <%= for guest <- @episode.guests do %>
    <img src="<%= PersonView.avatar_url(guest) %>" alt="<%= guest.name %> Avatar" />
  <% end %>
<% end %>

<%= link EpisodeView.podcast_name_and_number(@episode), to: podcast_path(@conn, :show, @episode.podcast.slug), title: @episode.podcast.name %>
