<%= link to: news_source_path(@conn, :show, @source.slug), title: @source.name, class: "news_item-source-image" do %>
  <img src="<%= NewsSourceView.icon_url(@source) %>" alt="<%= @source.name %> Icon" />
<% end %>

<%= link @source.name, to: news_source_path(@conn, :show, @source.slug), title: @source.name %>
