<article class="news_item js-track-news" data-news-type="news" data-news-id="<%= hashid(@item) %>">
  <%= render("_header.html", assigns) %>
<%= if @item.story do %>
  <div class="news_item-description">
    <p><%= @item.story |> md_to_text %></p>
    <%= link to: permalink_path(@conn, @item), class: "news_item-description-continue", data: permalink_data(@item) do %>
      <span>read more...</span>
    <% end %>
  </div>
<% end %>
  <%= render("_toolbar.html", assigns) %>
</article>
