<a id="feed" class="anchor"></a>
<div class="feed">
  <%#= render("_subnav.html", assigns) %>

  <%= for item_or_ad <- items_with_ads(@items, @ads), do: render_item_summary_or_ad(item_or_ad, assigns) %>
  <%= render(SharedView, "_more_button.html", assigns) %>
</div>
