<div class="feed">
<%= for item_or_ad <- items_with_ads(@items, @ads) do %>
  <%= render_item_summary_or_ad(item_or_ad, assigns) %>
<% end %>
</div>

<%= render(SharedView, "_pagination.html", assigns) %>

<div class="main-podcasts">
  <%= render(PodcastView, "_show_list.html", conn: @conn, podcasts: @podcasts) %>
</div>
