<div class="feed">
  <%= for item <- @items do %>
    <%= render("_item_summary.html", Map.merge(assigns, %{item: item})) %>
  <% end %>
</div>

<%= render(SharedView, "_pagination.html", assigns) %>
