<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Changelog Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <div class="ui top attached menu">
      <a href="/admin" class="item">Home</a>
      <a href="" class="item"><i class="unmute icon"></i>Podcasts</a>
      <a href="" class="item"><i class="newspaper icon"></i>News</a>
      <%= link to: admin_person_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.PersonController)}" do %>
        <i class="user icon"></i>People
      <% end %>


      <div class="right menu">
        <div class="ui right aligned category search item">
          <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Coming Soon...">
            <i class="search link icon"></i>
          </div>
          <div class="results"></div>
        </div>

        <div class="ui dropdown icon item">
          <i class="sidebar icon"></i>

          <div class="menu">
            <a href="" class="item"><i class="write icon"></i>Posts</a>
            <a href="" class="item"><i class="file icon"></i>Pages</a>
            <a href="" class="item"><i class="block layout icon"></i>Topics</a>
            <a href="" class="item"><i class="dollar icon"></i>Sponsors</a>
            <a href="/" class="item"><i class="eject icon"></i>View Site</a>
            <a class="item"><i class="sign out icon"></i>Sign Out</a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui very padded basic segment">
      <%= @inner %>
    </div>

    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
