<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Changelog Admin</title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/admin.css") %>">
  </head>

  <body data-module="<%= @view_module %>" data-template="<%= @view_template %>">
    <div class="ui fixed menu <%= get_flash(@conn, :result) %>">
      <a href="/" class="icon item"><i class="eject icon"></i></a>
      <%= link to: admin_page_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.PageController)}" do %>
        Admin
      <% end %>

      <%= link to: admin_podcast_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.PodcastController)}" do %>
        <i class="unmute icon"></i>Podcasts
      <% end %>

      <a href="#" class="item disabled"><i class="newspaper icon"></i>News</a>

      <%= link to: admin_post_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.PostController)}" do %>
        <i class="write icon"></i>Posts
      <% end %>

      <%= link to: admin_person_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.PersonController)}" do %>
        <i class="user icon"></i>People
      <% end %>

      <%= link to: admin_channel_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.ChannelController)}" do %>
        <i class="hashtag icon"></i>Channels
      <% end %>

      <%= link to: admin_sponsor_path(@conn, :index), class: "item #{active_class(@conn, Changelog.Admin.SponsorController)}" do %>
        <i class="dollar icon"></i>Sponsors
      <% end %>

      <div class="right menu">
        <div class="ui right aligned navigation search item">
          <div class="ui transparent icon input">
            <input class="prompt" type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>

        <%= link to: sign_out_path(@conn, :delete), class: "icon item" do %>
          <i class="sign out icon"></i>
        <% end %>
      </div>
    </div>

    <div class="ui very padded basic segment">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_url(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
