<%=
if SharedHelpers.controller_action_combo(@conn) == "news_item-show" do
  SharedHelpers.external_link(raw(@item.headline <> "&nbsp;&nbsp;↦"), to: @item.url, data: [news: true])
else
  SharedHelpers.external_link(@item.headline, to: @item.url, data: [news: true])
end
%>
