<%=
if SharedHelpers.controller_action_combo(@conn) == "news_item-show" do
  link(raw(@item.headline <> "&nbsp;&nbsp;↦"), to: url(@item), rel: "external", data: [news: true])
else
  link(@item.headline, to: url(@item), rel: "external", data: [news: true])
end
%>
