<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "News", to: admin_news_item_path(@conn, :index) %>
    &raquo; Edit
  <%= if NewsItem.is_published(@item) do %>
    <%= link "(View)",
      to: "TODO",
      class: "view" %>
  <% end %>
  </h1>

  <%= render "_form.html", changeset: @changeset, action: admin_news_item_path(@conn, :update, @item) %>
</div>
