<div class="ui basic segment text container">
  <h1 class="ui dividing header">Edit <%= @sponsor.name %></h1>

  <%= render "_form.html", changeset: @changeset, action: admin_sponsor_path(@conn, :update, @sponsor) %>
</div>
