---
# TODO: manage changelog.com when:
# - multiple IPs (a.k.a. targets) are supported (for DNSimple?)
# - AAAA records are supported: https://github.com/kubernetes-sigs/external-dns/issues/2044#issuecomment-830674918
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: 22.changelog.com
  namespace: ${NAMESPACE}
spec:
  endpoints:
  - dnsName: 22.changelog.com
    recordTTL: ${DNS_TTL}
    recordType: A
    targets:
      - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: 21.changelog.com
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: 21.changelog.com
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: cdn.changelog.com
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: cdn.changelog.com
#     recordTTL: ${DNS_TTL}
#     recordType: CNAME
#     targets:
#       - dualstack.changelog.map.fastly.net
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: www.changelog.com
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: www.changelog.com
#     recordTTL: ${DNS_TTL}
#     recordType: CNAME
#     targets:
#       - dualstack.changelog.map.fastly.net
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: brainscience.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: brainscience.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: changelog.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: changelog.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: founderstalk.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: founderstalk.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: gotime.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: gotime.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: jsparty.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: jsparty.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
# ---
# apiVersion: externaldns.k8s.io/v1alpha1
# kind: DNSEndpoint
# metadata:
#   name: practicalai.fm
#   namespace: ${NAMESPACE}
# spec:
#   endpoints:
#   - dnsName: practicalai.fm
#     recordTTL: ${DNS_TTL}
#     recordType: A
#     targets:
#       - ${PUBLIC_IPv4}
