.post_header {
  @include masthead();
  position: relative;

  &-all_posts_button {
    @include masthead-back();
  }

  &-date {
    line-height: 1em;
    font-size: .8em;
    font-family: $code;
    margin-bottom: 2em;

    &,
    a {
      color: $medium-grey;
    }
    a:hover {
      color: $light-grey;
    }
  }

  &-title {
    font-size: 1.5em;
    line-height: 1.25em;

    @include breakpoint(mobile) {
      font-size: 2em;
    }
  }

  &-author {
    align-items: center;
    color: $medium-grey;
    display: flex;
    justify-content: center;
    font-size: 1.1em;

    & > * {
      margin: 0 5px;
      text-align: left;
    }

    a {
      font-weight: bold;
      
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: $base-border-radius;
      display: inline-block;
      font-size: 8px;
    }

    span {
      margin-left: 0.5em;
    }
  }
}
