<div class="ui text container">
  <h1 class="ui dividing header">Edit <%= @person.name %></h1>

  <%= render "_form.html", changeset: @changeset, action: admin_person_path(@conn, :update, @person) %>
</div>
