@mixin button($background, $color) {
  background-color: $background;
  border-radius: $base-border-radius;
  color: $color;
  font-weight: bold;
  padding: 0.625em 0.825em 0.5em;
  transition: background-color 0.1s $base-easing;

  &:hover { background-color: darken($background, 10%); }
}
