@mixin toolbar_button() {
  background: $white;
  border: 1px solid $light-grey;
  border-radius: $base-border-radius;
  padding: 0.5em 0.3em 0.3em;

  &:hover { background: #f6f6f6; }
}

@mixin button($background, $color) {
  background: $background;
  border-radius: $base-border-radius;
  color: $color;
  font-weight: bold;
  padding: 0.625em 0.825em 0.5em;
  transition: background 0.1s $base-easing;

  &:hover { background: darken($background, 10%); }
}
