@mixin wrap($width: 1000) {
  margin: 40px auto;
  max-width: #{$width - ($base-spacing*2)};
  padding: 0 $base-spacing;

  @include breakpoint(mobile) {
    margin: 50px auto;
  }
  @include breakpoint(tablet) {
    margin: 60px auto;
  }
}
