@mixin wrap($width: 1000px, $top_offset: 0) {
  $v_margin: 40px;
  margin: #{$v_margin - $top_offset} auto $v_margin;
  max-width: #{$width - ($base-spacing*2)};
  padding: 0 $base-spacing;

  @include breakpoint(mobile) {
    margin-top: #{50px - $top_offset};
  }
  @include breakpoint(tablet) {
    margin-top: #{60px - $top_offset};
  }
}
