@font-face {
    font-family: "DIN2014-Narrow";
    src: url("DIN2014-Narrow.eot"); /* IE9 */
    src: url("DIN2014-Narrow.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("DIN2014-Narrow.woff") format("woff"), /* chrome, firefox */
    url("DIN2014-Narrow.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("DIN2014-Narrow.svg#DIN2014-Narrow") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


