@font-face {
    font-family: "SanaSans-Medium-Italic";
    src: url("SanaSans-Medium-Italic.eot"); /* IE9 */
    src: url("SanaSans-Medium-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SanaSans-Medium-Italic.woff") format("woff"), /* chrome, firefox */
    url("SanaSans-Medium-Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SanaSans-Medium-Italic.svg#SanaSans-Medium-Italic") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


