<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "Sponsors", to: Routes.admin_sponsor_path(@conn, :index) %>
    &raquo; Edit

    <%= link "(View)",
      to: Routes.admin_sponsor_path(@conn, :show, @sponsor),
      class: "view" %>
  </h1>

  <%= render("_form.html", conn: @conn, changeset: @changeset, action: Routes.admin_sponsor_path(@conn, :update, @sponsor)) %>
</div>
