<div class="author">
  <%= link to: PersonView.external_url(@person), title: @person.name, rel: "external" do %>
    <img class="author_image" src="<%= PersonView.avatar_url(@person) %>" width=75 height=75 alt="<%= @person.name %>"/>
  <% end %>

  <div class="author-bio">
    <p>
      <%= link @person.name, to: PersonView.external_url(@person) %>
      <p>Todo: Add author title</p>
    </p>
  </div>
</div>
