<article class="post">
  <header class="post-header">
    <div class="post-header-wrap">
      <p class="post-header-date">
        <time pubdate datetime="<%= @post.published_at %>"><%= TimeView.pretty_date(@post.published_at) %></time>
        <%= if @current_user && @current_user.admin do %> &bull; <%= link "Edit", to: admin_post_path(@conn, :edit, @post), data: [turbolinks: false] %><% end %>
      </p>
      <h1 class="post-header-title"><%= @post.title %></h1>

      <div class="post-header-author">
        <%= link to: PersonView.external_url(@post.author), title: @post.author.name, rel: "external" do %>
          <img class="author_image" src="<%= PersonView.avatar_url(@post.author) %>" width=30 height=30 alt="<%= @post.author.name %>"/>
        <% end %>
        <span><%= link @post.author.name, to: PersonView.external_url(@post.author) %> &ndash; Todo: Add author title</span>
      </div>
    </div>

    <div class="post-header-toolbar">

    </div>

    <%= link "← All Posts", to: "/posts", class: "post-header-all_posts_button" %>
  </header>

  <div class="post-body">
    <div class="post-body-content richtext">
      <%= @post.body |> md_to_html |> raw %>
    </div>
  </div>

  <footer class="post-footer">
    <div class="post-footer-tags">
      <ul class="tags">
        <%= if Enum.any?(@post.channels) do %>
          <%= for channel <- @post.channels do %>
            <li class="tags-item"><a href="#" title="View Tag"><%= channel.name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <%= if @post.author.bio do %>
      <%= render("_author_bio.html", person: @post.author) %>
    <% end %>
  </footer>
</article>
