.logo_grid {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  margin: 20px auto 0;
  max-width: 1080px;

  @include breakpoint(tiny) {
    grid-template-columns: repeat(4, 25%);
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(5, 20%);
    margin-top: 50px;
  }

  a { margin: 10px; }

  img {
    filter: grayscale(100%);
    margin: 0 auto;
    max-height: 100px;
    max-width: 100%;
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: grayscale(0%);
    }
  }
}
