// Community specific bloquote styles
.marketing_quote {
  font-size: 1.125em;
  margin: 0;
  padding: 0;

  &-body { font-style: italic; }

  &:before {
    color: $half-black;
    content: '“';
    display: block;
    font-size: 4em;
    height: 20px;
    margin-bottom: $padding-large;
    text-align: center;
  }

  &-footer {
    margin-top: $padding-large;
    text-align: center;

    img {
      $size: 50px;
      box-shadow: 0 0 $base-spacing 0 rgba($black, 0.2);
      border-radius: 2px;
      display: block;
      height: $size;
      margin: 0 auto $size/2;
      width: $size;
    }

    strong {
      display: inline-block;
      font-size: 1.125em;
      padding-bottom: 0.25em;
    }

    span {
      clear: left;
      font-style: italic;

      &:before {
        content: "\A";
        white-space: pre;
      }

    }

    a {
      color: black;
      display: block;
    }
  }
}
