apiVersion: v1
kind: Namespace
metadata:
  name: prod-2020-07
  annotations:
    openfaas: "1"
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cdn.changelog.com
  namespace: prod-2020-07
spec:
  endpoints:
  - dnsName: cdn.changelog.com
    recordTTL: 600
    recordType: CNAME
    targets:
    - dualstack.changelog.map.fastly.net
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: www.changelog.com
  namespace: prod-2020-07
spec:
  endpoints:
  - dnsName: www.changelog.com
    recordTTL: 600
    recordType: CNAME
    targets:
    - dualstack.changelog.map.fastly.net
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: app
  namespace: prod-2020-07
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: cert-manager-webhook-dnsimple-production
    external-dns.alpha.kubernetes.io/ttl: "600"
    service.beta.kubernetes.io/linode-loadbalancer-proxy-protocol: v2
spec:
  tls:
  - hosts:
    - origin.changelog.com
    - 2020.changelog.com
    secretName: wildcard-acme-tls-pkcs8
  - hosts:
    - brainscience.fm
    secretName: brainscience-fm-acme-tls
  - hosts:
    - changelog.fm
    secretName: changelog-fm-acme-tls
  - hosts:
    - founderstalk.fm
    secretName: founderstalk-fm-acme-tls
  - hosts:
    - gotime.fm
    secretName: gotime-fm-acme-tls
  - hosts:
    - jsparty.fm
    secretName: jsparty-fm-acme-tls
  - hosts:
    - practicalai.fm
    secretName: practicalai-fm-acme-tls
  rules:
  - host: origin.changelog.com
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: 2020.changelog.com
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: brainscience.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: changelog.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: founderstalk.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: gotime.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: jsparty.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
  - host: practicalai.fm
    http:
      paths:
      - backend:
          serviceName: app
          servicePort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: prod-2020-07
  labels:
    app: app
spec:
  ports:
  - name: http
    port: 4000
    protocol: TCP
    targetPort: 4000
  selector:
    app: app
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads
  namespace: prod-2020-07
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: linode-block-storage-retain
---
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: wildcard-acme-tls-pkcs8
  namespace: prod-2020-07
spec:
  dnsNames:
  - '*.changelog.com'
  - changelog.com
  keyEncoding: pkcs8
  issuerRef:
    name: cert-manager-webhook-dnsimple-production
    kind: ClusterIssuer
  secretName: wildcard-acme-tls-pkcs8
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: prod-2020-07
  labels:
    app: app
    keel.sh/policy: force
    keel.sh/match-tag: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - app
            topologyKey: kubernetes.io/hostname
      containers:
      - name: db-backup
        image: thechangelog/backups:202008
        imagePullPolicy: Always
        command:
        - /usr/local/bin/backup_db_continuously
        env:
        - name: BACKUP_EVERY_N_SECONDS
          value: "21600"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: backups-aws
              key: access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: backups-aws
              key: secret_access_key
        - name: AWS_REGION
          value: us-east-1
        - name: AWS_S3_BUCKET
          value: changelog-com-backups
        - name: PGHOST
          value: changelog-db
        - name: PGDATABASE
          value: db
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: changelog.changelog-db.credentials.postgresql.acid.zalan.do
              key: password
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: changelog.changelog-db.credentials.postgresql.acid.zalan.do
              key: username
      - name: uploads-backup
        image: thechangelog/backups:202008
        imagePullPolicy: Always
        command:
        - /usr/local/bin/backup_uploads_continuously
        env:
        - name: BACKUP_EVERY_N_SECONDS
          value: "21600"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: backups-aws
              key: access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: backups-aws
              key: secret_access_key
        - name: AWS_REGION
          value: us-east-1
        - name: AWS_S3_BUCKET
          value: changelog-com-backups
        - name: UPLOADS_PATH
          value: /uploads
        volumeMounts:
        - mountPath: /uploads
          name: uploads
      - name: app
        env:
        - name: ALGOLIA_APPLICATION_ID
          valueFrom:
            secretKeyRef:
              name: algolia
              key: application_id
        - name: ALGOLIA_API_KEY
          valueFrom:
            secretKeyRef:
              name: algolia
              key: api_key
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws
              key: access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws
              key: secret_access_key
        - name: BUFFER_TOKEN
          valueFrom:
            secretKeyRef:
              name: buffer
              key: token
        - name: CM_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: campaignmonitor
              key: api_token
        - name: CM_SMTP_TOKEN
          valueFrom:
            secretKeyRef:
              name: campaignmonitor
              key: smtp_token
        - name: COVERALLS_REPO_TOKEN
          valueFrom:
            secretKeyRef:
              name: coveralls
              key: repo_token
        - name: DB_HOST
          value: changelog-db
        - name: DB_NAME
          value: db
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: changelog.changelog-db.credentials.postgresql.acid.zalan.do
              key: password
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: changelog.changelog-db.credentials.postgresql.acid.zalan.do
              key: username
        - name: GITHUB_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: github
              key: api_token
        - name: GITHUB_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: github
              key: client_id
        - name: GITHUB_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github
              key: client_secret
        - name: HCAPTCHA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: hcaptcha
              key: secret_key
        - name: RECAPTCHA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: recaptcha
              key: secret_key
        - name: HN_USER
          valueFrom:
            secretKeyRef:
              name: hackernews
              key: user
        - name: HN_PASS
          valueFrom:
            secretKeyRef:
              name: hackernews
              key: pass
        - name: PLUSPLUS_SLUG
          valueFrom:
            secretKeyRef:
              name: plusplus
              key: slug
        - name: HTTP_PORT
          value: "4000"
        - name: ROLLBAR_ACCESS_TOKEN
          valueFrom:
            secretKeyRef:
              name: rollbar
              key: access_token
        - name: ROLLBAR_ENVIRONMENT
          value: production
        - name: SECRET_KEY_BASE
          valueFrom:
            secretKeyRef:
              name: app
              key: secret_key_base
        - name: SHOPIFY_API_KEY
          valueFrom:
            secretKeyRef:
              name: shopify
              key: api_key
        - name: SHOPIFY_API_PASSWORD
          valueFrom:
            secretKeyRef:
              name: shopify
              key: api_password
        - name: SIGNING_SALT
          valueFrom:
            secretKeyRef:
              name: app
              key: signing_salt
        - name: SLACK_APP_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: slack
              key: app_api_token
        - name: SLACK_DEPLOY_WEBHOOK
          valueFrom:
            secretKeyRef:
              name: slack
              key: deploy_webhook
        - name: SLACK_INVITE_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: slack
              key: invite_api_token
        - name: TWITTER_CONSUMER_KEY
          valueFrom:
            secretKeyRef:
              name: twitter
              key: consumer_key
        - name: TWITTER_CONSUMER_SECRET
          valueFrom:
            secretKeyRef:
              name: twitter
              key: consumer_secret
        - name: UPLOADS_PATH
          value: priv/uploads
        - name: GRAFANA_URL
          value: http://prometheus-grafana.kube-prometheus-stack.svc.cluster.local
        - name: GRAFANA_DATASOURCE_ID
          value: Prometheus
        - name: GRAFANA_API_KEY
          valueFrom:
            secretKeyRef:
              name: grafana
              key: api_key
        - name: PROMETHEUS_BEARER_TOKEN_PROM_EX
          valueFrom:
            secretKeyRef:
              name: promex
              key: bearer_token
        - name: SENTRY_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: sentry
              key: auth_token
        image: thechangelog/changelog.com:latest
        imagePullPolicy: Always
        ports:
        - name: phoenix
          containerPort: 4000
        resources:
          limits:
            cpu: 4
            memory: 8Gi
          requests:
            cpu: 2
            memory: 2Gi
        readinessProbe:
          httpGet:
            path: /health
            port: phoenix
            httpHeaders:
            - name: Host
              value: 127.0.0.1
          periodSeconds: 15
          timeoutSeconds: 14
        startupProbe:
          httpGet:
            path: /health
            port: phoenix
            httpHeaders:
            - name: Host
              value: 127.0.0.1
          failureThreshold: 30
          periodSeconds: 10
        volumeMounts:
        - mountPath: /app/priv/uploads
          name: uploads
      volumes:
      - name: uploads
        persistentVolumeClaim:
          claimName: uploads
---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: changelog-db
  namespace: prod-2020-07
spec:
  teamId: changelog
  users:
    changelog:
    - superuser
    - createdb
  volume:
    size: 10Gi
    storageClass: linode-block-storage
  numberOfInstances: 2
  databases:
    db: db
  postgresql:
    version: "12"
  resources:
    requests:
      cpu: "1"
      memory: 2Gi
    limits:
      cpu: "2"
      memory: 4Gi
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  annotations: null
  name: tls-sync-fastly
  namespace: prod-2020-07
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          creationTimestamp: null
        spec:
          containers:
          - command:
            - /bin/sh
            - -c
            args:
            - |-
              if [ -n "$DEBUG" ]
              then
                CURL_OPTIONS="--verbose"
              else
                echo "Fail job on error..."
                set -e
                set -o pipefail
              fi

              #! https://developer.fastly.com/reference/api/tls/custom-certs/private-keys/
              cat > /tmp/key.json <<EOF
              {
                "data": {
                  "type": "tls_private_key",
                  "attributes": {
                    "key": "$(echo "$TLS_KEY" | awk '{ printf "%s\\n", $0 }')",
                    "name": "changelog.com"
                  }
                }
              }
              EOF
              echo "But don't fail POST-ing private keys, as it's not idempotent"
              echo "This Fastly support ticket has all the details: https://support.fastly.com/hc/en-us/requests/329710"
              echo "TODO: What is the simplest way of checking that a private key exists?"
              curl $CURL_OPTIONS --silent --show-error \
                --header "Accept: application/vnd.api+json" \
                --header "Content-Type: application/vnd.api+json" \
                --header "Fastly-Key: $FASTLY_API_TOKEN" \
                --data @/tmp/key.json \
                https://api.fastly.com/tls/private_keys 2>&1 | grep -v "$FASTLY_API_TOKEN"

              #! https://developer.fastly.com/reference/api/tls/custom-certs/certificates/
              cat > /tmp/crt.json <<EOF
              {
                "data": {
                  "type": "tls_certificate",
                  "attributes": {
                    "cert_blob": "$(echo "$TLS_CRT" | awk '{ printf "%s\\n", $0 }')",
                    "name": "changelog.com"
                  }
                }
              }
              EOF
              curl $CURL_OPTIONS --silent --fail --show-error \
                --header "Accept: application/vnd.api+json" \
                --header "Content-Type: application/vnd.api+json" \
                --header "Fastly-Key: $FASTLY_API_TOKEN" \
                --request PATCH \
                --data @/tmp/crt.json \
                https://api.fastly.com/tls/certificates/1LA0UjkMfnnMwzglSLdAc 2>&1 | grep -v "$FASTLY_API_TOKEN"

              if [ -n "$DEBUG" ]
              then
                while true; do sleep 3600; done
              fi
            env:
            - name: DEBUG
              value: ""
            - name: TLS_KEY
              valueFrom:
                secretKeyRef:
                  name: wildcard-acme-tls-pkcs8
                  key: tls.key
            - name: TLS_CRT
              valueFrom:
                secretKeyRef:
                  name: wildcard-acme-tls-pkcs8
                  key: tls.crt
            - name: FASTLY_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: fastly
                  key: token
            image: curlimages/curl:7.72.0
            imagePullPolicy: IfNotPresent
            name: tls-sync-fastly
          restartPolicy: Never
  schedule: 0 9 * * *
  successfulJobsHistoryLimit: 3
  suspend: false
