<% linkable = Changelog.Cache.active_podcasts() |> Changelog.ListKit.exclude(@podcast) %>

<%= if Enum.any?(linkable) do %>
<div class="ui inline link dropdown">
  <div class="text">&raquo;</div>
  <div class="menu">
  <%= for podcast <- linkable do %>
    <%= if Policies.Admin.Podcast.show(@current_user, podcast) do %>
      <%= link(podcast.name, to: ~p"/admin/podcasts/#{podcast.slug}/episodes", class: "item") %>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>
