<div class="ui basic segment">
  <h1 class="ui dividing header">
    <%= link "Podcasts", to: ~p"/admin/podcasts" %>
    &raquo; New
  </h1>
</div>

<div class="ui basic segment text container">
  <%= render("_form.html", Map.merge(assigns, %{action: Routes.admin_podcast_path(@conn, :create)})) %>
</div>
