<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "Podcasts", to: admin_podcast_path(@conn, :index) %>
    &raquo; New
  </h1>

  <%= render "_form.html", changeset: @changeset, action: admin_podcast_path(@conn, :create) %>
</div>
