.ui.text.container {
  max-width: 650px !important;
}

.ui.horizontal.selection.list .item .label {
  margin-bottom: 1em;
}

.field-action {
  float: right;
}

.emphasis {
  font-weight: bold;
}

.ui.sponsor.header, .ui.link.header {
  margin-bottom: 10px !important;
}

.ui.header a {
  color: black;
}
.ui.header a:hover {
  text-decoration: underline;
}

.ui.header a.view {
  float: right;
  font-size: 1.5rem;
}

.js-image-options {
  overflow-y: auto;
  white-space: nowrap;
  img {
    margin: 10px !important;
    cursor: pointer;
  }
  .selected {
    border: 3px solid blue;
  }
}

input[type=file] {
  height: 38px;
}

@keyframes success {
  0% { background-color: #E5F9E7; }
  100% { background-color: white; }
}

@keyframes failure {
  0% { background-color: #FFE8E6; }
  100% { background-color: white; }
}
.ui.menu.success {
  animation-name: success;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
}

.ui.menu.failure {
  animation-name: failure;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
}

.ui.table tr.disabled td, .ui.table tr td.disabled, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
    pointer-events: auto !important;
}

.actions.right {
  text-align: right;
}

.hidden.field, tr.hidden {
  display: none;
}

.chart {
  max-height: 400px;
}
