# Inspired by https://github.com/fly-apps/live_beats/blob/master/fly.toml
# Full app config reference: https://fly.io/docs/reference/configuration/
app = "changelog-2025-05-05"
primary_region = "iad"

kill_signal = "SIGTERM"
kill_timeout = 30

[env]
PIPEDREAM_HOST = "cdn-2025-12-06.internal"
APP_INSTANCE = "production"

# https://fly.io/docs/about/pricing/
[[vm]]
size = "performance-1x"

[deploy]
strategy = "bluegreen"
release_command = "on.deploy"

[[services]]
internal_port = 4000
processes = ["app"]
protocol = "tcp"

[[services.http_checks]]
grace_period = "30s"
interval = "15s"
method = "get"
path = "/health"
protocol = "http"
timeout = "10s"

[[services.ports]]
handlers = ["tls", "http"]
port = 443

[[services.ports]]
handlers = ["http"]
port = "80"
force_https = true

[services.concurrency]
hard_limit = 2500
soft_limit = 2000
type = "connections"

[experimental]
cmd = ["app.start"]
