<div class="show-header-subscribe">
  <div class="show-header-subscribe-buttons">
  <%= for {name, url} <- listen_links(@album) do %>
    <%= link(name,
      to: url,
      class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--#{StringKit.dasherize(name)}",
      title: "Listen on #{name}") %>
  <% end %>
  </div>
</div>
