button {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;

  &:focus {
    box-shadow: 0 0 3px 2px rgba($green, 0.6);
  }
}

.button {
  @include button($dark-grey, $white);
}

.button_large {
  @include button($green, $white);
  display: inline-block;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}
