input {
  outline: none;

  @media (prefers-color-scheme: dark) {
    background: $light-grey;
  }
}

button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
