// Colors
$black: #121921
$half-black: rgba($black, 0.5)
$white: #ffffff
$half-white: rgba($white, 0.5)
$green: #61c192
$blue: #2D3589
$gray: #A0968C

$border-color: rgba($black, 0.05)

// Typography
$root-font-size: 14px // 1 rem
$content-fallback: Arial, sans-serif
$content: 'Sana Sans', $content-fallback
$display-fallback: 'Arial Narrow', sans-serif
$display: 'DIN 2014 Narrow', $display-fallback

// Layout
$smartphone: 452px
$tablet: 768px
$desktop: 1024px

$padding-extra-small: 12px / $root-font-size * 1rem
$padding-small: 16px / $root-font-size * 1rem
$padding-medium: 20px / $root-font-size * 1rem
$padding-large: 26px / $root-font-size * 1rem
$padding-extra-large: 54px / $root-font-size * 1rem