<div class="ui basic segment">
  <h1 class="ui dividing header">
    <%= link("Feeds", to: ~p"/admin/feeds") %>
    &raquo; <%= @feed.id %> (<%= @feed.name %>)
    &raquo; Agents
    &raquo; <%= @stat.date %>
  </h1>

  <div class="actions right">
  <%= if @next do %>
    <%= link to: ~p"/admin/feeds/#{@feed}/agents" <> "?date=#{@next.date}", class: "ui right floated basic button" do %>
      Next Day <i class="icon angle double right"></i>
    <% end %>
  <% end %>
  <%= if @prev do %>
    <%= link to: ~p"/admin/feeds/#{@feed}/agents" <> "?date=#{@prev.date}", class: "ui right floated basic button" do %>
      <i class="icon angle double left"></i> Previous Day
    <% end %>
  <% end %>
  </div>
</div>

<div class="ui basic segment">
  <table class="ui striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Requests</th>
      <th>Raw</th>
    </tr>
  </thead>
  <tbody>
  <%= for {name, data} <- Enum.sort_by(@stat.agents, fn {_name, data} -> data["requests"] end, :desc) do %>
    <tr>
      <td><%= name %></td>
      <td><%= data["type"] %></td>
      <td><%= data["requests"] %></td>
      <td><%= data["raw"] %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
