<div class="list_item">
  <p class="list_item-source">Sponsored</p>
  <h2 class="list_item-title"><%= link(@ad.headline, to: @ad.url) %></h2>
  <%= @ad.story |> md_to_html |> raw %>
<%= if @ad.image do %>
  <p>
    <%= link to: @ad.url do %>
      <img src="<%= NewsItemView.image_url(@ad, :large) %>" alt="<%= @ad.headline %>">
    <% end %>
  </p>
<% end %>
</div>
