.account_subscriptions {
  &-item {
    border-bottom: 1px solid $border-color;
    padding: $base-spacing 0;

    &:first-child {
      padding-top: 0;
    }

    @include breakpoint(mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    &-info {
      flex: 1 auto;
      margin-right: 20px;

      h3 {
        font-size: 1.25em;
        margin: 0 0 0.5em;
      }

      p {
        margin-bottom: 0;
      }

      &-meta {
        color: $medium-grey;
        font-family: $code;
        font-size: 0.8125em;
        margin-top: 1em;
      }
    }

    &-button {
      align-items: center;
      display: flex;
      text-align: right;

      a {
        @include button($green, $white);
        margin: 20px 0 0;

        @include breakpoint(mobile) {
          margin: 20px 0;
        }

        &.is-subscribed {
          @include button($light-grey, $medium-grey);
        }
      }
    }
  }

  &-shows {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin: 20px -2% 0;

    &-item {
      flex: 0 48%;
      margin: 1%;
      position: relative;
      text-align: center;

      @include breakpoint(300px) { flex: 0 31.333%; }
      @include breakpoint(mobile) {
        flex: 0 14.666%;
      }
      @include breakpoint(tablet) {
        margin: 2%;
        flex: 0 12.666%;
      }

      &.is-subscribed,
      &:hover {
        img {
          filter: grayscale(0);
          opacity: 1;
        }
      }

      img {
        border-radius: 3px;
        height: auto;
        width: 100%;

        transition: all 0.2s $base-easing;

        filter: grayscale(100%);
        opacity: 0.6;
      }

      &-label {
        @include status_label();
        font-size: 12px;
        bottom: 0;
        line-height: 1em;
        margin: 0;
        opacity: 0;
        transition: all 0.2s $base-easing;

        span {
          text-transform: none;
        }

        .account_subscriptions-shows-item.is-subscribed &,
        .account_subscriptions-shows-item:hover & {
          opacity: 1;
        }

        .account_subscriptions-shows-item.is-subscribed & span {
          background: $light-grey;
          color: $medium-grey;

          &:after {
            content: "d";
          }
        }
      }
    }
  }
}
