.account_subscriptions {
  &-item {
    border-bottom: 1px solid $border-color;
    padding: $base-spacing 0;

    &:first-child { padding-top: 0; }
    &:last-child { border-bottom: 0; }

    @include breakpoint(mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    &-info {
      flex: 1 auto;
      margin-right: 20px;

      h3 {
        font-size: 1.25em;
        margin: 0 0 0.5em;
      }

      p {
        margin-bottom: 0;
        max-width: 600px;
      }

      &-meta {
        color: $medium-grey;
        font-family: $code;
        font-size: 0.8125em;
        margin-top: 1em;
      }
    }

    &-button {
      align-items: center;
      display: flex;
      text-align: right;

      a {
        @include button($green, $white);
        margin: 20px 0 0;

        @include breakpoint(mobile) {
          margin: 20px 0;
        }

        &.is-subscribed {
          @include button($light-grey, $medium-grey);
        }
      }
    }
  }

  &-list {
    margin: 1em 0 0;
    width: 100%;

    &-item {
      border-bottom: 1px solid $border-color;
      align-items: center;
      display: flex;
      padding: 0.5em 0;
      width: 100%;

      &:last-child {
        border-bottom: 0;
      }

      p {
        margin: 0;
      }

      &-icon {
        border-radius: 2px;
        margin-right: 1em;
      }

      &-title {
        color: $dark-grey;
        font-size: 0.875em;
        flex: 1 0 auto;
        font-weight: bold;
      }
    }
  }
}
