<%= link @benefit.sponsor.name, to: link_url(@benefit) %> &ndash; <%= @benefit.offer %>

<%= if @is_member do %>
<p>
<%= if @benefit.code do %>
  Use code <code><%= @benefit.code %></code>.
<% end %>
  <%= @benefit.notes |> md_to_html |> sans_p_tags |> raw %>
</p>
<% end %>
