<span class="news_item-toolbar-meta-item news_item-toolbar-meta-item__featuring">
<%= for person <- Episode.participants(@episode) do %>
  <%= link(to: PersonView.profile_path(person), title: person.name) do %>
    <%= SharedHelpers.maybe_lazy_image(@conn, PersonView.avatar_url(person), "Featuring #{person.name}") %>
  <% end %>
<% end %>
</span>
