<span class="news_item-toolbar-meta-item">
<%= for person <- Episode.participants(@episode) do %>
  <%= link(to: PersonView.external_url(person), title: person.name) do %>
    <%= maybe_lazy_image(@conn, PersonView.avatar_url(person), "Featuring #{person.name}", style: "height: 25px; width: 25px; display: inline-block; margin: 0; padding: 0;") %>
  <% end %>
<% end %>
</span>
