<div class="ui basic segment">
  <h1 class="ui dividing header">
    Sponsors matching '<%= @query %>': <%= length(@results) %>
  </h1>

  <%= if Enum.any?(@results) do %>
    <%= render Changelog.Admin.SponsorView, "_table.html", conn: @conn, sponsors: @results %>
  <% end %>
</div>

