.content
    font-size: 1.2875em
    line-height: 1.5em

    a
        color: $green
        font-weight: bold

        &:hover
            color: darken($green, 10%)

    &_byline
        font-style: italic

        address
            display: inline-block

    &_header
        h2
            font-size: 2.5em

    &_body
        p
            code
                background: $black
                color: $half-white
                display: inline-block
                padding: 0 0.5em

        blockquote
            border-left: 2px solid $green
            font-size: 1.25em
            line-height: 1em
            margin: 2rem 0
            padding: 0 1rem
            color: $black

            p
              color: $black

        .button
            @extend %primary-button
            display: inline-block
            font-size: 1.325em
            margin: 0.5em 0
            padding: 0.6em 1.5em 0.45em
            text-align: center

        aside
            padding-left: 1rem
            border-left: 1px solid $green
            color: $black

        > .block
            display: block
            max-width: 100%

        .left, .right
            display: inline-block

        .left
            float: left

        .right
            float: right

        h2
            font-size: 1.325em
        h3
            font-size: 1.25em
        h4
            font-size: 1.125em
        h5
            font-size: 1em
        h6
            font-size: 0.9em

        hr
            border: 1px solid $light-grey
            margin: 2em 0

    &_footer
        padding: 1rem
        border: 1px solid $green
        font-style: italic
