.show-summary-widget
    +aspect-ratio(1, 1, 'content')

    &_toggle
        display: none
        position: absolute
        right: 0.5rem
        bottom: 0.5rem
        width: 22px
        height: 22px
        justify-content: space-around
        background: url(/images/more.svg) center center no-repeat
        background-size: 22px

    &:hover &_toggle, &_menu--is-open + &_toggle
        @media (min-width: $tablet + 100)
            display: flex

    &_menu--is-open + &_toggle
        height: 18px
        width: 18px
        background-image: url(/images/close.svg)
        background-size: 18px

    &_link
        display: block
        height: 100%
        width: 100%

    &_content
        background-size: cover
        background-position: center center

    @each $show in $shows
        &--#{$show} &_content
            background-image: url(/images/podcasts/#{$show}-cover-art.svg)

    &_menu
        display: none
        @extend %display-font
        text-align: center
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0

        &--is-open
            @media (min-width: $tablet + 100)
                display: flex
