.show-header
    text-align: center
    padding-top: 2rem

    & > h2 img
        width: 12.5rem

        @media (min-width: $tablet)
            width: 15.5rem

    & > p
        color: $white
        font-size: 1.25em
        max-width: 36rem
        margin-top: 0
        padding: 0 $padding-large

    &_hosts
        margin: $padding-large 0

        & > i
            font-size: 1.15em
            @media (min-width: $tablet)
                color: $half-white