<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link "Topics", to: admin_topic_path(@conn, :index) %>
    &raquo; Edit
  </h1>

  <%= render "_form.html", changeset: @changeset, action: admin_topic_path(@conn, :update, @topic) %>
</div>
