.anchor {
  display: block;
  position: relative;
  // Account for the sticky navigation
  top: -($header-height + 20);

  @include breakpoint(tablet, max) {
    top: -($header-height--mobile + 20);
  }
}
