.avatar_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    display: block;
    flex: 0 1 115px;
    font-size: 0.875em;
    margin: 1em 0;
    min-width: 70px;
    text-align: center;

    .avatar_list--large & {
      @include breakpoint(huge, max) {
        flex: 0 1 50px;
        min-width: 50px;
      }
    }


    &:hover {
      p { color: $white; }
    }

    img {
      background: #000;
      border-radius: $base-border-radius;
      display: block;
      font-size: 8px;
      margin: 0 auto;
      width: 50px;
      height: 50px;

      .avatar_list--large & {
        @include breakpoint(huge, max) {
          width: 30px;
          height: 30px;
        }
      }
    }

    p {
      color: $medium-grey;
      margin: 1em 0 0;
      transition: color 0.1s $base-easing;

      .avatar_list--large & {
        @include breakpoint(huge, max) {
          display: none;
        }
      }
    }
  }
}
