.banner {
  background: $lightest-grey;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 15px 20px;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background: $darker-grey;
    color: $white;
  }

  &-content {
    flex: 1 500px;
    margin: 10px;

    p:last-child {
      margin: 0;
    }
  }

  .signup-form {
    flex: 1 1 260px;
    margin: 10px;
    max-width: none;
  }

  &-close {
    $size: 10px;
    @include position(absolute, $size $size null null);

    &,
    svg {
      height: $size;
      width: $size;
    }

    svg {
      display: block;

      path { stroke: $medium-grey; }
    }
  }
}
