.feed_nav {
  border-bottom: 1px solid $light-grey;
  margin-bottom: $base-spacing*1.5;

  &-list {

    display: none;
    @media (min-width: 901px) { display: block; }

    &-item {
      display: inline-block;

      a {
        border-bottom: 1px solid transparent;
        color: $black;
        display: block;
        padding: 1em;
        transform: translateY(1px);
        transition: border 0.2s $base-easing;
      }

      &.is-active a,
      a:hover {
        border-bottom-color: $green;
      }
    }
  }

  &-select {
    display: block;
    @media (min-width: 901px) { display: none; }
    margin-bottom: $base-spacing/2;
    padding: 0.5em;
    width: 100%;
  }
}
