.page_news_item,
.feed {
  @include wrap;

  @include breakpoint(mobile, max) {
    padding: 0;
  }
}

.feed {
  margin-bottom: 30px !important;

  @include breakpoint(mobile, max) {
    .pagination { padding: $base-spacing $base-spacing 0; }
  }
}
