.page_news_item,
.feed {
  @include wrap;
  max-width: 800px;

  @include breakpoint(mobile, max) {
    padding: 0;
  }
}

.feed,
.search {
  margin-bottom: 30px !important;

  .subnav {
    @include breakpoint(mobile, max) {
      margin: 0 $base-spacing;
    }
  }

  &-note {
    font-family: $code;
    font-size: 0.825em;
    font-style: italic;
    padding-bottom: $base-spacing;
    text-align: center;
  }

  @include breakpoint(mobile, max) {
    .pagination { padding: $base-spacing $base-spacing 0; }
  }
}
