.footer {
  border-top: 2px solid $border-color;
  font-size: 14px;

  &-nav {
    display: flex;
    flex-wrap: wrap;
    margin: $padding-extra-large auto $padding-large;
    max-width: 1440px;
    padding: 0 $padding-large;
    width: 100%;

    &-logo {
      display: block;
      margin-bottom: $padding-large;
      text-align: center;
      width: 100%;

      @media (min-width: 900px) {
        flex: 1 0 120px;
      }
    }

    &-list {
      border-bottom: 1px solid $light-grey;
      flex: 0 100%;
      text-align: center;

      &:last-child {
        border-bottom: 0;
      }

      @media (min-width: $smartphone) {
        border-bottom: 0;
        padding: 0 0 $padding-large 0;
        flex: 0 33.333%;
      }
      @media (min-width: $tablet) {
        flex: 1 0 120px;
        padding: 0 1em $padding-large 0;
        text-align: left;
      }

      &.is-toggled ul {
        display: block;
      }

      h4 {
        margin-top: 0;
        text-align: center;

        @media (max-width: $smartphone) {
          margin: 0;
          display: block;

          a {
            display: block;
            padding: 1em;
          }
        }

        @media (min-width: $tablet) {
          text-align: left;
        }
      }

      ul {
        display: none;
        list-style-type: none;
        margin: 0 0 1em;
        padding: 0;

        @media (min-width: $smartphone) {
          display: block;
          margin: 1em 0;
        }
      }

      a {
        color: $black;
        &:hover {
          color: $medium-grey;
        }
      }
    }
  }

  &-sponsors {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: $padding-large auto;
    max-width: 540px;

    &-item {
      flex: 0 200px;
      text-align: center;

      p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin: 0 5%;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
