.header {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  padding: $base-spacing/2;

  //
  //
  // Logo
  &-logo {
    flex: 1 0 auto;

    @include breakpoint(desktop) {
      flex: 0 auto;
    }
  }
  &-nav-logo,
  &-logo {
    $size: 50px;
    margin: 0 $base-spacing 0 0;
    text-indent: -9999px;

    a {
      background: url('../assets/images/changelog-logomark-white.svg') left center no-repeat;
      background-size: auto $size;
      display: block;
      height: $size;
      width: $size;
    }
  }

  //
  //
  // Menu Icon
  &-menu_icon {
    $size: 22px;
    border-bottom: 2px solid $green;
    border-top: 2px solid $green;
    display: block;
    color: $green;
    cursor: pointer;
    height: 18px;
    margin-left: $base-spacing/2;
    position: relative;
    text-indent: -9999px;
    width: $size;

    @include breakpoint(desktop) {
      display: none;
    }

    &:before {
      @include position(absolute, 50% 0 null 0);
      content: "";
      background: $green;
      height: 2px;
      margin-top: -1px;
    }
  }

  //
  //
  // Navigation
  &-nav {
    flex: 1 0 auto;

    // Mobile Nav Styles
    @include breakpoint(desktop, max) {
      @include position(absolute, 10px);
      background: $dark-grey;
      border: 1px solid lighten($dark-grey, 5%);
      box-shadow: 0 0 3px 3px rgba($black, 0.3);
      border-radius: 5px;
      display: none;
      margin: 0 0 auto;
      padding: $base-spacing;
      z-index: 9999;

      body.nav-open & {
        display: flex;
      }
    }

    &-wrap {
      @include breakpoint(desktop, max) {
        flex-direction: column;
        display: flex;
        margin: auto;
      }

      @include breakpoint(desktop) {
        align-items: center;
        display: flex;
        flex: 1 0 auto; // Pushes secondary nav to the far right
      }
    }


    // Mobile only logo and close button
    &-logo,
    &-close {
      @include breakpoint(desktop) {
        display: none;
      }
    }
    &-logo {
      margin: 0 0 $base-spacing;
      text-align: center;

      @include breakpoint(desktop) {
        display: none;
      }

      a { margin: 0 auto; }
    }
    &-close {
      @include position(absolute, 0 0 null null);
      color: $green;
      cursor: pointer;
      font-size: 2em;
      padding: 0.25em;
    }

    // Primary Navigation
    &-primary {
      text-align: center;

      @include breakpoint(desktop) {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 auto; // Pushes secondary nav to the far right
        margin: 0;
      }

      &-item {
        font-weight: 600;
        margin: 0 10px;

        a {
          color: $white;
          border-bottom: 3px solid transparent;
          display: inline-block;
          padding: 6px 0;

          &:hover {
            border-bottom-color: #4D5258;
          }
        }
      }
    }

    // Secondary Nav
    &-secondary {
      margin-top: $base-spacing;

      @include breakpoint(desktop) {
        align-items: center;
        display: flex;
        margin-top: 0;
      }

      &-user {
        $size: 30px;
        margin: 0 auto;
        text-align: center;

        @include breakpoint(desktop) {
          margin: $base-spacing/2;
        }

        &,
        img {
          display: block;
          height: $size;
          width: $size;
        }
        img {
          $size: 30px;
          border-radius: $base-border-radius;
        }
      }
    }

    // Search
    &-search {
      margin-top: $base-spacing;
      text-align: center;

      @include breakpoint(desktop) {
        margin-top: 0;
      }

      input {
        background: #252B32;
        border: 0;
        color: $white;
        padding: 0.4em 0.6em 0.3em;

        &::placeholder {
          color: $medium-grey;
        }
      }
    }
  }
}
