// Dark Headers
.page-podcast-index,
.page-podcast-show,
.page-episode-show,
.page-page-community,
.page-topic-show,
.page-news_source-show,
.page-person-new {
  .header {
    background: $black;

    &-logo a {
      background-image: url('../assets/images/changelog-logomark-white.svg');
    }

    &-nav-list-item a {
      color: $white;
      &:hover { color: rgba($white, 0.8); }
    }
  }
}

// Transparent/Overlay Headers
.page-page-community,
.page-person-new {
  .header {
    background-color: transparent;
    position: relative;
    z-index: 101;
  }

  .marketing,
  .signup {
    margin-top: -96px; // Match height of header
  }

  .signup {
    padding: 133px 30px 100px;

    @include breakpoint(560px) {
      padding: 23.7% 30px;
    }
    @include breakpoint(1160px) {
      padding: 275px 30px;
    }
  }
}

// Base Styles
.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 25px $base-spacing;
  width: 100%;
  z-index: 999;

  //
  //
  // Logo
  &-logo {
    $size: 46px;
    flex: 0 auto;
    margin: 0 $base-spacing/2 0 0;
    text-indent: -9999px;

    a {
      background: url('../assets/images/changelog-logomark.svg') left center no-repeat;
      background-size: auto $size;
      display: block;
      height: $size;
      width: $size;
    }
  }

  //
  //
  // Menu Icon
  &-menu_icon {
    $size: 20px;
    border-bottom: 2px solid $green;
    border-top: 2px solid $green;
    color: $green;
    cursor: pointer;
    height: $size;
    margin-left: $base-spacing/2;
    position: relative;
    text-indent: -9999px;
    width: $size;

    &:before {
      @include position(absolute, 50% 0 null 0);
      content: "";
      background: $green;
      height: 2px;
      margin-top: -1px;
    }
  }

  //
  //
  // Navigation
  &-nav {
    flex: 1 0 auto;

    &-wrap {
      align-items: center;
      display: flex;
      flex: 1 0 auto; // Pushes secondary nav to the far right
    }

    // Close button
    &-close {
      @include position(absolute, 0 0 null null);
      color: $green;
      cursor: pointer;
      font-size: 2em;
      padding: 0.25em;
    }

    // Lists
    &-list {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      &-item {
        font-size: 13px;
        font-weight: 400;
        margin: 0 8px;

        a {
          color: $black;
          display: inline-block;
          padding: 6px 0 4px;

          &:hover {
            // TODO: Determine better hover state
            color: $medium-grey;
          }
        }
      }
    }

    // Primary Navigation
    &-primary {
      flex: 1 0 auto; // Pushes secondary nav to the far right
    }

    // Secondary Nav
    &-secondary {
      align-items: center;
      display: flex;
      margin-top: 0;

      &-user {
        $size: 20px;
        margin: 0;
        text-align: center;

        &,
        img {
          display: block;
          height: $size;
          width: $size;
        }
        img {
          border-radius: $base-border-radius;
        }
      }
    }
  }
}
