.image {
  margin: $base-spacing*2 auto;
  max-width: 1000px;
  padding: 0 30px;
  width: 100%;

  img {
    margin: 0 auto;
    max-width: 100%;
  }
}

.image_border_hack {
  position: relative;
  overflow: hidden;
  
  img {
    transform: scale(1.06);
  }
}
