.news_item {
  border-bottom: 1px solid $light-grey;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
  position: relative;

  @include breakpoint(mobile) {
    padding-left: 70px;
  }

  a {
    color: $black;

    &:hover {
      color: lighten($black, 20%);
      transition: color 0.1s $base-easing;
    }
  }

  &-source {
    align-items: center;
    display: flex;
    font-family: $code;
    font-size: 0.75em;
    margin: 0 0 10px;

    &-image {
      $size: 30px;
      background: $black;
      border-radius: $base-border-radius;
      box-shadow: 0 0 50px rgba($black, 0.3);
      color: $white;
      display: block;
      font-size: 10px;
      height: $size;
      line-height: 1em;
      margin-right: 10px;
      width: $size;

      &--fallback {
        background: $green;
        color: $white;
        font-family: $code;
        font-size: 18px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
      }

      @include breakpoint(mobile) {
        $size: 50px;
        height: $size;
        left: 0;
        position: absolute;
        width: $size;
        top: 15px;
      }
    }
  }

  &-title {
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 10px 0;

    &-external {
      background-image: url('../assets/images/icon-external.svg');
      display: inline-block;
      height: 15px;
      margin-left: 0.25em;
      width: 15px;
    }
  }

  &-description {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }

  &-toolbar {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: $base-spacing/2;
    }

    &-button {
      @include toolbar_button();
      height: 33px;
      padding-left: 0.75em;
      padding-right: 0.65em;

      &--play {
        text-indent: -9999px;

        span {
          $size: 7px;
          display: block;
          width: 0;
          height: 0;
          border-top: $size solid transparent;
          border-bottom: $size solid transparent;
          border-left: 12px solid $black;
        }
      }
    }

    &-meta {
      font-family: $code;
      font-size: 0.75em;
      margin-top: 6px;
      line-height: 1.5em;
    }
  }

  &-content {
    margin-top: 30px;

    &.richtext {
      p {
        font-size: 1em;
      }
    }
  }
}
