.overlay {
  @include animate-zoom-out("&.is-visible");
  background: $black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  text-align: center;

  &-curtain {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &-close {
    padding: 0;
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 99;

    & > img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-scroll_wrap {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    align-items: flex-start;

    @media (min-width: $smartphone + 100) {
      align-items: center;
    }
  }

  &-wrap {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
  }

  &-section {
    background: $black;
    flex: 0 0 auto;
    min-width: 300px;
    max-width: 380px;
    width: 100%;
    padding: 30px;

    @media (min-width: 760px) {
      width: 50%;
    }

    &-lead_in {
      @extend %display-font;
      color: $medium-grey;
      margin: 0 0 0.5em;
    }

    &-heading {
      color: $white;
      font-size: 1.625em;
      text-transform: uppercase;
      margin: 0 0 1em;
    }

    &:nth-child(2) {
      border-top: 2px solid $black;

      @media (min-width: 760px) {
        border-left: 2px solid $black;
        border-top: 0;
      }
    }
  }

  // Simple nav similar to main nav lists
  &-nav {
    margin: 0;
    padding: 0;

    li {
      @extend %display-font;
      display: block;
      font-family: $display;
      font-size: 1.15em;
      line-height: 1.25em;
      margin: 0.75em 0;

      a {
        color: $green;
        &:hover { color: $white; }
      }
    }
  }

  textarea {
    background: #000;
    border: none;
    border-radius: 2px;
    color: $green;
    font-family: $code;
    font-size: 0.9375em;
    line-height: 1.5em;
    padding: 0.8em 1.2em;
    resize: none;
    width: 100%;
  }
}

// A copyable textarea
.copyable {
  position: relative;

  &-button {
    background: $green;
    border-radius: 0 2px;
    box-shadow: -2px 2px 2px 1px #000;
    color: #000;
    font-size: 0.75em;
    font-weight: bold;
    padding: 8px 8px 5px 10px;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      background: $white;
    }
  }
}

// Toggle Button for Dark Embed (O ) Light Embed
.horizontal_toggle {
  align-items: center;
  display: flex;
  margin: 0 0 1em;
  justify-content: center;
  width: 100%;

  & > * {
    flex: 0 0 auto;
  }

  &-text {
    color: $white;
    padding: 0 1em;
  }
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: $green;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  position: relative;

  .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;

    &:checked ~ .switch {
      right: 2px;
      left: 22px;
      transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition-property: left, right;
      transition-delay: .05s, 0s;
    }
  }

  .switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #000;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }
}
