.page_heading {
  background: $black;
  margin-bottom: 40px;
  padding: 40px 0;

  @include breakpoint(mobile) {
    margin-bottom: 50px;
    padding: 50px 0;
  }
  @include breakpoint(tablet) {
    margin-bottom: 60px;
    padding: 60px 0;
  }

  h1 {
    color: $white;
    font-size: 1.75em;
    line-height: 1.25em;
    margin: .15em auto 0;
    max-width: 860px;
    padding: 0 30px;
    text-align: center;
    width: 100%;

    @include breakpoint(tiny) { font-size: 2em; }
    @include breakpoint(tablet) { font-size: 2.25em; }
  }
}
