.pagination {
  @include wrap;
  justify-content: space-between;
  display: flex;
  margin: 30px auto !important;
  text-align: center;

  &-item,
  .item {
    font-family: $code;
    padding: 0.25em;
  }
}
