.pagination {
  @include wrap;
  border-top: 1px solid $light-grey;
  justify-content: space-between;
  display: flex;
  margin: 0 auto $base-spacing !important;
  padding: $base-spacing 0 0;
  text-align: center;

  &-item,
  .item {
    font-family: $code;
    padding: 0.25em;
  }

  &--more {
    display: block;
    text-align: center;

    .pagination-more_button {
      background: $lightest-grey;
      border: 1px solid $light-grey;
      border-radius: $base-border-radius;
      color: $black;
      display: inline-block;
      font-family: $code;
      font-size: 0.875em;
      margin: $base-spacing/2 0;
      padding: 0.75em 1.5em;
      transition: background 0.1s $base-easing;

      @include breakpoint(mobile) {
        margin: $base-spacing 0;
      }

      &:hover {
        background: darken($lightest-grey, 2.5%);
      }
    }
  }
}
