.playbar_play {
  background-image: url("../images/icons/icon-play.svg");
}
.playbar_pause {
  background-image: url("../images/icons/icon-pause.svg");
  background-size: 11px 20px !important;
}
.playbar_discuss {
  background-image: url("../images/icons/icon-chat.svg");
}
.playbar_subscribe {
  background-image: url("../images/icons/icon-subscribe.svg");
}
.playbar_share {
  background-image: url("../images/icons/icon-share.svg");
}
