.richtext {
  // A simple clearfix so we don't have to use overflow auto (which would break 100%+ width stuff)
  &:after {
    clear: both;
    content: "";
    display: table;
  }

  a {
    color: $green;
    font-weight: 500;

    &:hover {
      color: darken($green, 10%);
      text-decoration: underline;
    }

    &:visited {
      color: $blue;
    }
  }

  // If a <code> tag is within a <p> tag show it as a snippet
  p code {
    background: rgba($black, .06);
    // border: 1px solid rgba($black, .1);
    color: $black;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: .35em .5em;
  }

  ul, ol {
    list-style-position: inside;
    padding-left: 0;
    li {
      margin: 0.5em 0;
    }
  }
  // UL LIs will start with a > character
  ul:not(.button_list) {
    list-style: none;
    li {
      background: url("/images/ul-arrow.svg") no-repeat;
      background-position: left 0.35em;
      padding-left: 20px;
    }
  }

  blockquote {
    border-left: 2px solid $green;
    font-size: 1.25em;
    line-height: 1em;
    margin: 2rem 0;
    padding: 0 1rem;
    color: $black;

    p {
      color: $black;
    }
  }

  .button {
    // @extend %primary-button;
    display: inline-block;
    font-size: 1.325em;
    margin: 0.5em 0;
    padding: 0.6em 1.5em 0.45em;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  aside {
    padding-left: 1rem;
    border-left: 1px solid $green;
    color: $black;
  }

  & > .block {
    display: block;
    max-width: 100%;
  }

  .left,
  .right {
    display: inline-block;
  }
  .left { float: left; }
  .right { float: right; }

  h2 {
    font-size: 1.5em;
    margin-top: 2em;
  }
  h3 {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  h4 {
    font-size: 1.125em;
    margin-top: 1.25em;
  }
  h5 {
    font-size: 1em;
    margin-top: 1.25em;
  }
  h6 {
    font-size: 0.9em;
    margin-top: 1.25em;
  }
  h2, h3, h4, h5, h6 {
    a {
      font-weight: 900;
    }
  }

  hr {
    border: 1px solid $border-color;
    clear: both;
    margin: 2em 0;
  }

  img {
    height: auto;
    width: 100%;

    @media (min-width: $desktop) {
      margin: $padding-large -5%;
      width: 110%;
    }
  }

  // borders for images in posts
  .border {
    &_light-grey { border: 1px solid $light-grey; }
    &_medium-grey { border: 1px solid $medium-grey; }
    &_black { border: 1px solid $black; }
  }

  // inline tags
  strong {
    color: $black;
    font-weight: 700;
  }

  mark {
    font-style: normal;
    padding: 3px 5px;
    background-color: $light-yellow;
    color: $body-copy-color;
    &.grey-background {
      background-color: $lightest-grey;
    }
  }

  .float {
    margin: auto;
    width: auto;
    &--left {
      float: left;
      margin: 0 1em 1em 0;
    }
    &--right {
      float: right;
      margin: 0 0 1em 1em;
    }
  }

  .footnotes {
    font-size: 0.8em;
    p { margin: 0; }
  }

  // Wistia margin
  .wistia_responsive_padding,
  .wistia_embed {
    margin: 0 0 1rem;
  }
  // Responsive iframes and videos
  .video-container {
    height: 0;
    margin: 1rem 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
