.ui.text.container {
  max-width: 600px !important;
}

.ui.horizontal.selection.list .item .label {
  margin-bottom: 1em;
}

.emphasis {
  font-weight: bold;
}

.ui.sponsor.header, .ui.link.header {
  margin-bottom: 10px !important;
}
