<%= link to: Routes.topic_path(@conn, :show, @topic.slug), title: @topic.name, class: "news_item-source-image" do %>
  <%= SharedHelpers.maybe_lazy_image(@conn, TopicView.icon_url(@topic), @topic.name, width: 50, height: 50) %>
<% end %>
