<%= link to: news_source_path(@conn, :show, @source.slug), title: @source.name, class: "news_item-source-image" do %>
  <%= maybe_lazy_image(@conn, NewsSourceView.icon_url(@source), "#{@source.name} Icon") %>
<% end %>
