<%= link to: topic_path(@conn, :show, @topic.slug), title: @topic.name, class: "news_item-source-image" do %>
  <img src="<%= TopicView.icon_url(@topic) %>" alt="<%= @topic.name %> Icon" />
<% end %>
