<%= link to: Routes.person_path(@conn, :show, @author.handle), title: @author.name, class: "news_item-source-image" do %>
  <%= maybe_lazy_image(@conn, PersonView.avatar_url(@author), @author.name) %>
<% end %>
