<%= link to: PersonView.profile_path(@author), title: @author.name, class: "news_item-source-image" do %>
  <%= SharedHelpers.maybe_lazy_image(@conn, PersonView.avatar_url(@author), @author.name, width: 50, height: 50) %>
<% end %>
