<%= link to: Routes.news_source_path(@conn, :show, @source.slug), title: @source.name, class: "news_item-source-image" do %>
  <%= SharedHelpers.maybe_lazy_image(@conn, NewsSourceView.icon_url(@source), "#{@source.name} Icon", width: 50, height: 50) %>
<% end %>
