<%= link to: @item.url, title: domain_name(@item.url), class: "news_item-source-image" do %>
  <%= maybe_lazy_image(@conn, static_url(@conn, "/images/defaults/type-#{@item.type}.png"), "#{@item.type} Icon") %>
<% end %>
