<%= link to: @item.url, title: SharedHelpers.domain_name(@item.url), class: "news_item-source-image" do %>
  <%= SharedHelpers.maybe_lazy_image(@conn, unverified_url(@conn, "/images/defaults/type-#{@item.type}.png"), "#{@item.type} Icon", width: 50, height: 50) %>
<% end %>
