<%= link(EpisodeView.podcast_name_and_number(@episode),
  to: episode_path(@conn, :show, @episode.podcast.slug, @episode.slug),
  title: EpisodeView.podcast_name_and_number(@episode),
  data: [news: true]) %>
