<div class="ui basic segment">
  <h1 class="ui dividing header">
    Mailers
    <div class="sub header">For your previewing pleasure</div>
  </h1>

  <div class="ui ordered large list">
  <%= for preview <- @previews do %>
    <div class="item"><%= link(preview, to: ~p"/admin/mailers/#{preview}") %></div>
  <% end %>
  </div>
</div>
