<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Found | Changelog</title>

    <meta name="copyright" content="Changelog Media LLC">

    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  <%= if Mix.env == :prod do %>
    <%= render(ChangelogWeb.LayoutView, "_head_scripts.html", assigns) %>
  <% end %>
  </head>
  <body><!--[if lt IE 8]>
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <main class="main">
      <article class="section content">
        <div class="container container--has-padding container--skinny">
          <header class="content_header">
            <h1>404</h1>
            <h2>Oops! The page you were looking for&nbsp;doesn’t exist.</h2>
          </header>
          <div class="content_body">
            <p>You may have mistyped the address or the page may have moved.</p>
          </div>
          <%= link "Take Me Home", to: root_path(@conn, :index), class: "btn btn--padded-bottom" %>
        </div>
      </article>
    </main>
  </body>
</html>
