<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Error | Changelog</title>
    <meta name="copyright" content="Changelog Media LLC">
    <link rel="stylesheet" href="<%= url(~p"/css/app.css") %>">
    <script src="<%= url(~p"/js/app.js") %>"></script>
  </head>
  <body class="error"><!--[if lt IE 8]>
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <main class="main">
      <article class="article">
        <div class="richtext">
          <h1>Server Error</h1>
          <h3>Oops! Looks like the server had a hiccup.</h3>
          <p>Try reloading the page to see if the issue has cleared up. In the meantime, enjoy some clips!</p>
          <%= render(SharedView, "_clips_embed.html", assigns) %>
          <%= link("Take Me Home", to: Routes.root_path(@conn, :index), class: "button") %>
        </div>
      </article>
    </main>
  </body>
</html>
