<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Changelog</title>
    <copyright>All rights reserved</copyright>
    <link><%= root_url(@conn, :index) %></link>
    <language>en-us</language>
    <description>News and podcasts for developers</description>
  <%= for item <- @items do %>
    <item>
      <%= render_item(item, assigns) %>
    </item>
  <% end %>
  </channel>
</rss>
