<header class="news_item-header">
  <p class="news_item-source">
    <%= link to: @ad.url, title: @sponsor.name, rel: "external" do %>
      <img class="news_item-source-image" src="<%= SponsorView.avatar_url(@sponsor, :small) %>" alt="<%= @sponsor.name %> Icon" />
    <% end %>

    <%= link("#{@sponsor.name} – Sponsored", to: @ad.url, title: @sponsor.name, rel: "external") %>
  </p>
  <h2 class="news_item-title"><%= link(@ad.headline, to: @ad.url, rel: "external") %></h2>
</header>
