<article class="news_item news_item--sponsor" data-news-type="ad" data-news-id="<%= hashid(@ad) %>">
  <%= render("_ad_header.html", assigns) %>
<%= if @ad.story do %>
  <div class="news_item-description">
    <p><%= @ad.story |> md_to_text %></p>
    <%= link to: news_ad_path(@conn, :show, slug(@ad)), class: "news_item-description-continue" do %>
      <span>read more...</span>
    <% end %>
  </div>
<% end %>
  <%= render("_ad_toolbar.html", assigns) %>
</article>
