<article class="news_item news_item--sponsor">
  <%= render("_header.html", assigns) %>
  <%= render("_toolbar.html", assigns) %>
  <div class="news_item-content richtext">
    <%= @ad |> story_as_html() |> raw() %>
  </div>
  <%= image_link(@ad) %>
</article>
