<div class="feed">
  <article class="news_item">
    <%= render("_ad_header.html", assigns) %>
    <%= render("_ad_toolbar.html", assigns) %>
    <%= if @ad.story do %>
      <div class="news_item-content richtext">
        <p><%= @ad.story |> md_to_html |> raw %></p>
      </div>
    <% end %>
  </article>
</div>
