<%= AuthView.auth_url(Endpoint, @person) %>


This one-time use link will self-destruct in <%= auth_link_expires_in(@person) %>.

No longer working? Request a new one right here: <%= Routes.sign_in_url(Endpoint, :new) %>
