<%= greeting(@person) %>


<%= PersonView.handle(@comment.author) %> commented on a discussion you're subscribed to! They said:

<%= @comment.content %>


Reply here: <%= comment_url(@item, @comment) %>

Don't want these notifications? Unsubscribe here:

<%= PersonView.opt_out_url(@person, "news", @item.id) %>

💚, Logbot

<%= if String.length(@subscription.context) > 0 do %>
(You received this because <%= @subscription.context %>)
<% end %>
