<%= greeting(@person) %>


<%= PersonView.handle(@comment.author) %> mentioned you on Changelog News, saying:

<%= @comment.content %>


Reply here: <%= comment_url(@item, @comment) %>

Seen enough? Mute this discussion:

<%= PersonView.opt_out_url(@person, "news", @item.id) %>

Or disable mention notifications all together:

<%= PersonView.opt_out_url(@person, "setting", "email_on_comment_mentions") %>

💚, Logbot
