<%= greeting(@person) %>


The transcript for <%= @episode.title %> has just posted!


Read it here: <%= EpisodeView.transcript_url(@episode) %>

View the source: <%= EpisodeView.transcript_source_url(@episode) %>


Contributions welcome!


💚, Logbot
