<tr>
  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
    <p><%= greeting(@person) %></p>

    <p>The transcript for <strong><%= @episode.title %></strong> is ready for you!</p>

    <span class="btn-primary">
      <%= link("Read it here", to: episode_url(Endpoint, :show, @episode.podcast.slug, @episode.slug) <> "#transcript", itemprop: "url") %>
    </span>

    <p>💚, Logbot</p>
  </td>
</tr>
