<%= greeting(@person) %>


Sadly, we failed to fill you request. Here's a message from the team on the particulars:

---

<%= @request.message %>

---

If there's more to say or our message requested a response, feel free to reply.

💚, Logbot
