<tr>
  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
    <p><%= greeting(@person) %></p>

    <p>Your episode request was declined for this reason:</p>

    <p><%= @request.decline_message %></p>

  </td>
</tr>
