<%= greeting(@person) %>


The transcript for <%= @episode.title %> is ready for you!


Read it here: <%= episode_url(Endpoint, :show, @episode.podcast.slug, @episode.slug) <> "#transcript" %>


💚, Logbot
