<%= greeting(@person) %>


The episode of <%= @podcast.name %> that you requested is now live!

Listen and discuss here: <%= EpisodeView.share_url(@episode) %>

We'd love to hear what you think!

Thanks for the great suggestion.

💚, Logbot
