<%= greeting(@person) %>


Sadly, your request was declined. Here's a message from the team with more on the decision:

---

<%= @request.message %>

---

If there's more to say or our message requested a response, feel free to reply.

💚, Logbot
