<tr>
  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
    <p><%= greeting(@person) %></p>

    <p>Your episode of <em><%= @podcast.name %></em> is now live! <%= link("Here's where it lives", to: EpisodeView.share_url(@episode)) %> on the web and <mark>here's what's next</mark>. 👇</p>

    <h3>1. Please share the episode 💚</h3>

    <p>If you have a website and/or blog where you can link to the show, <mark>we'd greatly appreciate</mark> you taking the time to do so. Here’s an embed snippet you can use so folks can listen to the episode without leaving your site:</p>

    <pre><%= EpisodeView.embed_code(@episode) %></pre>

    <p><em>(See it in action on the <a href="https://blog.npmjs.org/post/182374655445/on-building-npm-and-hiring-a-ceo-founders-talk">npm blog</a> and the <a href="https://plausible.io/blog/changelog-podcast">Plausible Analytics</a> blog)</em></p>

    <h3>2. Recommend a guest ✨</h3>

    <p>Over the years we've learned that the best guests are often recommended to us from past guests like yourself. Do you know <mark>someone who you think would be great</mark> on <em><%= @podcast.name %></em>? Hit reply and let us know. They'll thank you later... and we'll thank you right away. 😉</p>

    <h3>3. Plug in to Changelog News 🗞️</h3>

    <p>Are you aware of <a href="https://changelog.com/news">Changelog News</a>? It's our podcast + newsletter combo featuring all developer news worth your attention. Submit <a href="https://changelog.com/submit">right here</a> when you have future news/announcements. We'd be happy to help you spread the word.</p>

    <h3>4. You get free merch 🎁</h3>

  <%= if Changelog.StringKit.blank?(@discount_code) do %>
    <p>Dratz! Something's wrong with our Shopify integration! <mark>Hit reply and let us know</mark> so we can generate a coupon code for you 😔</p>
  <% else %>
    <p>This is our gift to you as a thanks for your time and all you do for the community.</p>

    <ol>
  <%= if Podcast.is_a_changelog_pod(@podcast) do %>
    <li>Visit our <a href="https://merch.changelog.com" title="Changelog Merch Store">Merch Store</a></li>
    <li>Pick a shirt you want (or anything really)</li>
  <% else %>
    <li>Grab some free stickers from our <a href="https://merch.changelog.com/products/changelog-sticker-pack" title="Changelog Merch Store">Merch Store</a></li>
  <% end %>
    <li>Use coupon code <mark><strong><%= @discount_code %></strong></mark> at checkout</li>
    <li>Keep your order at $0 for free shipping!</li>
    </ol>
  <% end %>

    <hr/>

    <p>That's all we have. You’re part of Changelog's family now. <mark>If there is <em>any way</em> that we can help you</mark> in the future, don’t hesitate to contact us.</p>

    <p>Thanks again!</p>

    <p>💚, Logbot</p>
  </td>
</tr>
