<!DOCTYPE html>
<html>
  <head>
    <title>Changelog News</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark only">
    <link rel="stylesheet" href="<%= Routes.static_url(Endpoint, "/css/email.css") %>">
  </head>
  <body>
    <p style="display:none !important;"><%= @episode.email_teaser %></p>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="100%">
            <table width="700" cellpadding="0" cellspacing="0" border="0" align="center">
              <tbody>
                <tr>
                  <td width="700">
                    <table width="700" cellpadding="35" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <div class="content">
                              <%= @episode.email_content |> SharedHelpers.md_to_html() |> raw() %>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <img class="spacer-20" src="<%= Routes.static_url(Endpoint, "/images/email/spacer_1.gif") %>">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e5e5e5">
                      <tbody>
                        <tr><td bgcolor="#e5e5e5" height="1" width="100%"></td></tr>
                      </tbody>
                    </table>
                    <table width="700" cellpadding="20" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="footer" align="center">
                            <img class="spacer-20" src="<%= Routes.static_url(Endpoint, "/images/email/spacer_1.gif") %>">
                          <%= if @person do %>
                            <p><%= link("Unsubscribe", to: PersonView.opt_out_url(Endpoint, @person, "podcast", @episode.podcast.slug)) %>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;<%= link("View in Browser", to: Routes.episode_url(Endpoint, :email, @episode.podcast.slug, @episode.slug)) %></p>
                          <%= if String.length(@subscription.context) > 0 do %>
                            <p>(Context: <%= @subscription.context %>)</p>
                          <% end %>
                          <% end %>
                            <p class="last-of-type">Copyright Changelog Media LLC</p>
                            <img class="spacer-20" src="<%= Routes.static_url(Endpoint, "/images/email/spacer_1.gif") %>">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
