<%= @episode.email_content |> SharedHelpers.md_to_text() %>

Unsubscribe: <%= PersonView.opt_out_url(Endpoint, @person, "podcast", @episode.podcast.slug) %>

<%= if String.length(@subscription.context) > 0 do %>
(Context: <%= @subscription.context %>)
<% end %>
