<tr>
  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
    <p><%= greeting(@person) %></p>

    <p>You requested a fancy, passwordless sign in link. <em>Here you go:</em></p>

    <%= link("Sign in to Changelog", to: AuthView.auth_url(Endpoint, @person), class: "btn-primary", itemprop: "url") %>

    <p><em>This link will self-destruct in <%= auth_link_expires_in(@person) %>.</em><p>
    <p>Already expired? <em><%= link "Request a new link.", to: sign_in_url(Endpoint, :new) %></em></p>

    <p>💚, Logbot</p>
  </td>
</tr>
