<%= greeting(@person) %>


Your submission was accepted! It is included in Changelog News #<%= @news.slug %>:

View it here: url(~p"/news/#{@news.slug}")

In addition, here is a message from the editor:

---

<%= @item.message %>

---

If there's more to say or our message requested a response, feel free to reply.

💚, Logbot
