<%= greeting(@person) %>


You subscribed to <%= @subscribed_to.name %>!

Sign in to your account to access our Slack, manage your email subscriptions, and complete your profile.

We don't use passwords. Each time you sign in we’ll send you a temporary link to your email address. That’s one less password to worry about (yay!). Here’s your first one:

<%= render("_sign_in_link.text", assigns) %>

💚, Logbot
