<%= greeting(@person) %>


Click the link below to confirm your <%= @subscribed_to.name %> subscription!

<%= render("_sign_in_link.text", assigns) %>

(Changed your mind? Received this in error? Don't click the button! Delete this email and enjoy the rest of your day. We'll purge your account and forget this ever happened ✊)

💚, Logbot
