<%= render(SharedView, "_drift_js.html") %>

<article class="article">
  <div class="richtext">
    <h1>Get in touch. Say hello.</h1>

    <p><a href="https://github.com/thechangelog/ping/issues">Submit an issue</a> to our open inbox on GitHub. Share your projects, news, feedback, or tips.</p>

    <p>Email <a href="mailto:editors@changelog.com?subject=Hello Changelog!">editors@changelog.com</a> if you'd like to get in touch privately.</p>

  </div>
</article>
