<section class="container container--has-padding" id="podcasts">
  <h2 class="accessibility-hidden">Podcast Shows</h2>
  <%= for podcast <- @podcasts do %>
    <%= render(PodcastView, "_podcast_summary.html", conn: @conn, podcast: podcast) %>
  <% end %>
  <%= render(PodcastView, "_podcast_summary.html", conn: @conn, podcast: Podcast.master) %>
</section>
