<article class="marketing marketing--live">
  <section class="marketing-section marketing-section--intro">
    <header class="marketing-section-header">
      <h1>✨ Changelog LIVE in Denver ✨</h1>
      <p>Join Adam and Jerod (+ some other randos) at <a href="https://theorientaltheater.com">The Oriental Theater</a> on Saturday, <strong>July 26th, 2025</strong> for a LIVE recording of <a href="/topic/kaizen">Kaizen #20</a> featuring the much-anticipated <a href="https://pipely.tech">Pipely</a> launch!</p>

      <div class="marketing-button_group">
      <a href="https://tickets.holdmyticket.com/tickets/449299" class="button_large">Get Your Tickets ($15 + fees)</a>
      </div>
      <p class="button_note"><code>FREE for <a href="/++">Changelog++</a> members</code></p>
    </header>
  </section>
</article>

<article class="article">
  <div class="richtext">
    <h2>🗣️ Who?</h2>
    <ul>
      <li>Special Guest: <a href="/person/norajones">Nora Jones</a></li>
      <li>Special Guest: <a href="/person/gerhard">Gerhard Lazu</a></li>
      <li>Live Beats: <a href="person/breakmastercylinder">Breakmaster Cylinder</a></li>
      <li>Hosted by: <a href="/person/jerodsanto">Jerod Santo</a></li>
      <li>Hosted by: <a href="/person/adamstac">Adam Stacoviak</a></li>
    </ul>

    <h2>🎙️ What?</h2>

    <ul>
      <li>🍻 Meetup: 8pm (7/25)</li>
      <li>🚪 Doors: 9am (7/26)</li>
      <li>🎶 BMC: 9:30am</li>
      <li>🎙️ Interview: 10am</li>
      <li>📈 Kaizen: 11am</li>
      <li>🥾 Trail hike: 3pm</li>
    </ul>

    <h2>📆 When?</h2>

    <ul>
      <li>Friday, July 25th: 🍻 meetup</li>
      <li>Saturday, July 26th: 🎶🎙️📈 show, 🥾 hike</li>
    </ul>

    <h2>📍 Where?</h2>

    <ul>
      <li>Meetup: <a href="https://www.edgewaterbeergarden.com">Edgewater Beer Garden</a> (2508 Gray Street) 🍻</li>
      <li>Show: <a href="https://theorientaltheater.com">The Oriental Theater</a> (4335 W 44th Avenue) 🎶🎙️📈</li>
      <li>Hike: <a href="https://www.alltrails.com/trail/us/colorado/red-rocks-and-morrison-slide-trails--2">Red Rocks</a> (17598 W. Alameda Parkway) 🥾</li>
    </ul>

    <h2>🤷‍♂️ Why?</h2>

    <ul>
      <li>Why not?!</li>
    </ul>

    <h2>💸 How much?</h2>

    <ul>
      <li>$15 + venue fees</li>
      <li>FREE for <a href="/++">Changelog++</a></li>
      <li><a href="https://tickets.holdmyticket.com/tickets/449299">Buy ticket(s) here</a></li>
    </ul>
  </div>
</article>
