<%= render("topic.html", Map.merge(assigns, %{query: @query, results: @results.topics})) %>
<%= render("episode.html", Map.merge(assigns, %{query: @query, results: @results.episodes})) %>
<%= render("news_item.html", Map.merge(assigns, %{query: @query, results: @results.news_items})) %>
<%= render("news_source.html", Map.merge(assigns, %{query: @query, results: @results.news_sources})) %>
<%= render("person.html", Map.merge(assigns, %{query: @query, results: @results.people})) %>
<%= render("post.html", Map.merge(assigns, %{query: @query, results: @results.posts})) %>
<%= render("sponsor.html", Map.merge(assigns, %{query: @query, results: @results.sponsors})) %>
