<%= render("topic.html", conn: @conn, query: @query, results: @results.topics) %>
<%= render("episode.html", conn: @conn, query: @query, results: @results.episodes) %>
<%= render("news_item.html", conn: @conn, query: @query, results: @results.news_items) %>
<%= render("news_source.html", conn: @conn, query: @query, results: @results.news_sources) %>
<%= render("person.html", conn: @conn, query: @query, results: @results.people) %>
<%= render("post.html", conn: @conn, query: @query, results: @results.posts) %>
<%= render("sponsor.html", conn: @conn, query: @query, results: @results.sponsors) %>
