<div class="ui basic segment">
  <h1 class="ui dividing header">
    News Items matching '<%= @query %>': <%= length(@results) %>
  </h1>

<%= if Enum.any?(@results) do %>
  <%= render(NewsItemView, "_table.html", Map.merge(assigns, %{items: Enum.map(@results, &NewsItem.preload_all/1), status: :published})) %>
<% end %>
</div>

