<div class="ui basic segment">
  <h1 class="ui dividing header">
    People matching '<%= @query %>': <%= length(@results) %>
  </h1>

<%= if Enum.any?(@results) do %>
  <%= render(PersonView, "_table.html", Map.merge(assigns, %{people: @results})) %>
<% end %>
</div>

