<div class="ui basic segment">
  <h1 class="ui dividing header">
    Posts matching '<%= @query %>': <%= length(@results) %>
  </h1>

<%= if Enum.any?(@results) do %>
  <%= render(PostView, "_table.html", Map.merge(assigns, %{posts: @results})) %>
<% end %>
</div>

