<div class="ui basic segment">
  <h1 class="ui dividing header">
    Sponsors matching '<%= @query %>': <%= length(@results) %>
  </h1>

<%= if Enum.any?(@results) do %>
  <%= render(SponsorView, "_table.html", Map.merge(assigns, %{sponsors: @results})) %>
<% end %>
</div>

