<div class="ui basic segment">
  <h1 class="ui dividing header">
    Topics matching '<%= @query %>': <%= length(@results) %>
  </h1>

<%= if Enum.any?(@results) do %>
  <%= render(TopicView, "_table.html", Map.merge(assigns, %{topics: @results})) %>
<% end %>
</div>

