<div class="ui basic segment text container">
  <h1 class="ui dividing header">
    <%= link(@podcast.name, to: ~p"/admin/podcasts/#{@podcast.slug}/episodes") %>
    <%= render(PodcastView, "_dropdown_list.html", assigns) %>
    New Episode
  </h1>

  <%= render("_form.html", Map.merge(assigns, %{action: ~p"/admin/podcasts/#{@podcast.slug}/episodes"})) %>
</div>
