<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1 style="color: grey;">
  <span style="color: blue;">{{.Method}} {{ if .XForwardedHost }}{{.XForwardedHost}}{{ else }}{{.Host}}{{ end }}{{.URL}}</span>
  {{ if .FastlyFf }}→ fastly:<span style="color: red;">{{.XForwardedServer}}</span>{{ end }}
  {{ if .FlyClientIp }}→ fly-proxy:<span style="color: purple;">{{.FlyRegion}}</span>{{ end }}
  {{ if .Region }}→ fly-app:<span style="color: purple;">{{.Region}}</span>{{ else }}→ app{{ end }}
</h1>

<hr>
<table>
  {{ if .FastlyClientIp }}
  <tr>
    <td>Fastly client IP</td>
    <td>{{.FastlyClientIp}}</td>
  </tr>
  {{ end }}
  {{ if .FastlyFf }}
  <tr>
    <td>Fastly POP(s)</td>
    <td>{{.FastlyFf}}</td>
  </tr>
  {{ end }}
  {{ if .FlyClientIp }}
  <tr>
    <td>Fly proxy client &amp; protocol</td>
    <td>{{.FlyClientIp}} via http {{ .Via }}</td>
  </tr>
  {{ end }}
  <tr>
    <td>{{ if .FlyClientIp }}Fly proxy{{ else }}Client{{ end }} TCP socket</td>
    <td>{{.RemoteAddr}}</td>
  </tr>
  {{ if .XForwardedFor }}
  <tr>
    <td>Fly app client IP</td>
    <td>{{.XForwardedFor}}</td>
  </tr>
  {{ end }}
  {{ if .PublicIp }}
  <tr>
    <td>Fly app public IP</td>
    <td>{{.PublicIp}}</td>
  </tr>
  {{ end }}
</table>

<hr>
<code>
{{.Header}}
</code>
</body>
</html>
