// Body
.embed
    background: $black
    padding: 100px 0

// Variables
$gutter: 2rem
$height: 220px

// Embedded Player
.episode-player
    background: #1e242c
    height: $height
    margin: 0 auto
    // Temporary for styling
    max-width: 900px
    overflow: hidden
    position: relative

    &_site-link
        position: absolute
        right: 1rem
        top: 1rem

        img
            height: 30px
            width: 30px
            @media (min-width: $smartphone)
                height: 40px
                width: 40px

    &_toggle-nav
        background: url("/images/more.svg") center no-repeat
        background-size: contain
        display: block
        height: 10px
        width: 20px
        position: relative
        z-index: 99

    &_nav
        background: rgba($black,0.99)
        display: none
        padding: 72px 0
        // Position
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        body.show-nav
            display: flex

        &_list
            display: flex
            height: 75px
            margin: 0 auto
            justify-content: space-around
            list-style-type: none
            vertical-align: middle

            img
                border: 1px solid $dark-grey

            &_item
                @extend %display-font
                align-items: center
                border-right: 1px solid $dark-grey
                display: flex
                font-size: 0.8em
                flex: 1 0 auto
                justify-content: space-around
                line-height: 1.25em
                min-width: 70px
                padding: 0 0.75rem
                text-align: center

                a
                    background: top center no-repeat
                    color: $white
                    display: block
                    padding-top: 30px

                &--show
                    padding: 0
                    a
                        padding-top: 0

                &--listen-on a
                    background: left center no-repeat
                    background-size: 46px
                    max-width: 145px
                    min-height: 45px
                    padding: 1em 0 1em 55px
                    text-align: left

                &:first-child,
                &:last-child
                    border-right: 0

    &_details
        $button_size: 4rem
        $button_spacing: $button_size + $gutter * 2
        display: table
        font-size: 10px
        height: 135px
        margin-top: 1.5rem
        padding: 0 50px 0 (2rem + $gutter * 2)
        position: relative

        @media (min-width: $smartphone)
            font-size: 12px
            padding: 0 60px 0 $button_spacing

        @media (min-width: $tablet - 150px)
            font-size: 14px

        &_button
          display: block
          left: $gutter / 2
          margin-right: 2rem
          margin-top: -($gutter)
          padding: 0
          position: absolute
          text-indent: -9999px
          top: 50%

          &:hover
              .episode-player_details_button_bg
                  transform: scale(1.1)
              // &:before
              //     transform: scale(1.05)

          &_bg
              background-color: $green
              border-radius: $button_size
              display: block
              height: $button_size
              transition: all 0.2s ease-in-out
              width: $button_size

          &_icon
              background: url("/images/icon-play-white.svg") center no-repeat
              position: absolute
              top: 0
              right: 0
              bottom: 0
              left: 0

          @media (min-width: $smartphone)
              left: $gutter

          &:before
              content: ''
              height: 18rem
              left: 50%
              margin-left: -9rem
              margin-top: -9rem
              opacity: .2
              position: absolute
              top: 50%
              transition: all 0.2s ease-in-out
              width: 18rem

              @each $podcast in $podcasts
                  .episode-player--#{$podcast} &
                      background-image: url(/images/podcasts/#{$podcast}-abstract-art.svg)

        &_vwrap
            display: table-cell
            vertical-align: middle

        &_podcast
            @extend %display-font
            color: $green
            font-size: 1.25em
            margin: 0 0 0.5em

        &_title
            font-size: 1.8em
            margin: 0

            a
                color: $white
