#search
    padding: $padding-large 1rem

    @media (min-width: $desktop)
        padding: $padding-extra-large 0

    .search-results
      margin-top: 2rem

      & + .search-results
        border-top: 4px solid $border-color
        padding-top: 2rem
