<div class="ui basic segment">
  <h1 class="ui dividing header">
    <%= link "News", to: Routes.admin_news_item_path(@conn, :index) %>
    &raquo;
    <%= link "Sponsorships", to: Routes.admin_news_sponsorship_path(@conn, :index) %>
    &raquo; Edit
  </h1>
</div>

<div class="ui basic segment text container">
  <%= render("_form.html", Map.merge(assigns, %{action: Routes.admin_news_sponsorship_path(@conn, :update, @sponsorship)})) %>
</div>
