<article class="news_item">
  <p class="news_item-source"><a href="#source" title="">medium.com</a></p>
  <h2 class="news_item-title">
    <%= link to: episode_path(@conn, :show, @episode.podcast.slug, @episode.slug) do %>
      <%= if number = EpisodeView.number(@episode) do %>
        <span>#<%= number %>&nbsp;</span>
      <% end %>
      <%= @episode.title %>
    <% end %>
  </h2>

  <div class="news_item-description"><%= raw md_to_html(@episode.summary) %></div>

  <div class="news_item-toolbar">
    <%= link "Play",
        title: "Play Episode",
        to: EpisodeView.audio_url(@episode),
        data: [play: episode_path(@conn, :play, @episode.podcast.slug, @episode.slug)],
        role: "button",
        class: "news_item-toolbar-item news_item-toolbar-button playbar playbar_play" %>

    <div class="news_item-toolbar-item reactions">
      <button class="reactions-item" title="Like"><span>👍</span> 1</button>
      <button class="reactions-item" title="Celebrate"><span>🎉</span> 5</button>
      <button class="reactions-item" title="Confused"><span>😕</span> 0</button>
      <button class="reactions-item" title="Heart"><span>💚</span> 1</button>
    </div>

    <div class="news_item-toolbar-item news_item-toolbar-meta">
      logged <%= TimeView.pretty_date(@episode.published_at) %>
      &bull;&nbsp;&nbsp;
      <%= link "show notes", to: EpisodeView.audio_url(@episode) %>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <%= link "discuss", to: EpisodeView.audio_url(@episode) %>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <%= link "tags +2", to: EpisodeView.audio_url(@episode) %>
    </div>
  </div>
</article>
