<section class="show_list">
  <header class="show_list-header">
    <h2>More great podcasts that are not currently in production</h2>
  </header>
  <div class="show_list-shows">
  <%= for podcast <- inactive_podcasts_for_index(@podcasts) do %>
    <%= render(__MODULE__, "_summary.html", podcast: podcast) %>
  <% end %>
  </div>
</section>
