<%= if Podcast.has_feed(@podcast) && @podcast.status != :inactive do %>
<div class="show-header-subscribe">
  <div class="show-header-subscribe-buttons">
    <%= link("RSS", to: subscribe_via_rss_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--rss", title: "Subscribe via RSS") %>
  <%= if @podcast.apple_url do %>
    <%= link("Apple", to: subscribe_on_apple_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--apple", title: "Subscribe on Apple") %>
  <% end %>
  <%= if @podcast.spotify_url do %>
    <%= link("Spotify", to: subscribe_on_spotify_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--spotify", title: "Subscribe on Spotify") %>
  <% end %>
  <%= if @podcast.youtube_url do %>
    <%= link("YouTube", to: subscribe_on_youtube_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--youtube", title: "Subscribe on YouTube") %>
  <% end %>
  <%= if @podcast.apple_url do %>
    <%= link("Overcast", to: subscribe_on_overcast_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--overcast", title: "Subscribe on Overcast") %>
    <%= link("Pocket Casts", to: subscribe_on_pocket_casts_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--pocket-casts", title: "Subscribe on Pocket Casts") %>
  <% end %>
    <%= link("Android", to: subscribe_on_android_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--android", title: "Subscribe on Android") %>
    <%= if @podcast.bsky_handle do %>
      <%= link("Bluesky", to: SharedHelpers.bsky_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--bsky", title: "Follow us on Bluesky") %>
    <% end %>
  <%= if @podcast.mastodon_handle do %>
    <%= link("Mastodon", to: SharedHelpers.mastodon_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--mastodon", title: "Follow us on Mastodon") %>
  <% end %>
  <%= if @podcast.twitter_handle do %>
    <%= link("X", to: SharedHelpers.x_url(@podcast), class: "show-header-subscribe-buttons-item show-header-subscribe-buttons-item--x", title: "Follow us on X") %>
  <% end %>
  </div>
</div>
<% end %>
