<section class="show show--<%= @podcast.slug %> show--<%= @podcast.status %>">
  <%= if @page.page_number == 1 && !assigns[:tab] do %>
    <%= render("_header_landing.html", assigns) %>
  <% else %>
    <%= render("_header.html", assigns) %>
  <% end %>

  <a id="feed" class="anchor"></a>
  <div class="feed">
    <%= if @podcast.status != :soon, do: render("_feed.html", assigns) %>
  </div>
</section>
