<h1><%= @podcast.name %></h1>
<h2><%= Changelog.EpisodeView.numbered_title(@episode) %></h2>

<audio id="player" src="https://cdn.changelog.com/uploads/podcast/199/the-changelog-199.mp3"></audio>

<section class="description">
  <%= raw md_to_html(@episode.summary) %>
</section>

<script type="text/javascript">
  player = document.getElementById("player");
  player.oncanplay = function() {
    console.log("ohai");
  }
</script>
