<section class="container" id="shows">
  <h2 class="accessibility-hidden">Podcast Shows</h2>
  <%= for podcast <- @podcasts do %>
    <%= render "_podcast_summary.html", conn: @conn, podcast: podcast %>
  <% end %>
  <%= render "_podcast_summary.html", conn: @conn, podcast: @master %>
</section>
