<h1><%= @podcast.name %></h1>

<section class="description">
<%= parse_markdown @podcast.description %>
</section>

<%= if Enum.any?(@episodes) do %>
<ul>
  <%= for episode <- @episodes do %>
    <li><%= link numbered_episode_title(episode), to: episode_path(@conn, :episode, @podcast.slug, episode.slug) %></li>
  <% end %>
</ul>
<% end %>
